@model PagedList.IPagedList<group19Web.Models.tbl_product>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "IndexProduct";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}


<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- DATA TABLE -->
                    <h3 class="title-5 m-b-35">data table</h3>
                    <div class="table-data__tool">
                        <div class="table-data__tool-left">
                            <div class="rs-select2--light rs-select2--md">
                                <form action="/tbl_product/SearchProduct" method="post">
                                    <div class="input-group rounded">
                                        <input type="search" name="searchText" class="form-control rounded" placeholder="Search" aria-label="Search"
                                               aria-describedby="search-addon" />
                                        <span class="input-group-text border-0" id="search-addon">
                                            <i class="fas fa-search"></i>
                                        </span>
                                    </div>
                                </form>
                            </div>
                            <div class="rs-select2--light rs-select2--sm">
                                <select class="js-select2" name="time">
                                    <option selected="selected">Hôm nay</option>
                                    <option value="">3 ngày</option>
                                    <option value="">1 tuần</option>
                                </select>
                                <div class="dropDownSelect2"></div>
                            </div>
                            <button class="au-btn-filter">
                                <i class="zmdi zmdi-filter-list"></i>filters
                            </button>
                        </div>
                        <div class="table-data__tool-right">
                            <a href="/tbl_product/CreateNew">
                                <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                                    <i class="zmdi zmdi-plus"></i>Thêm mới
                                </button>
                            </a>
                            <div class="
                          rs-select2--dark rs-select2--sm rs-select2--dark2
                        ">
                                <select class="js-select2" name="type">
                                    <option selected="selected">Export</option>
                                    <option value="">Option 1</option>
                                    <option value="">Option 2</option>
                                </select>
                                <div class="dropDownSelect2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive table-responsive-data2">
                        <table class="table table-data2">
                            <thead>
                                <tr>
                                    <th>
                                        <label class="au-checkbox">
                                            <input type="checkbox" />
                                            <span class="au-checkmark"></span>
                                        </label>
                                    </th>
                                    <th>tiêu đề</th>
                                    <th>ngày tạo</th>
                                    <th>ngày cập nhật</th>
                                    <th>giá</th>
                                    <th>khuyến mại</th>
                                    <th>số lượng</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="tr-shadow">
                                        <td>
                                            <label class="au-checkbox">
                                                <input type="checkbox" />
                                                <span class="au-checkmark"></span>
                                            </label>
                                        </td>
                                        <td>@item.title</td>
                                        <td>@item.created_date</td>
                                        <td>@item.updated_date</td>
                                        <td class="text-right">@item.price đ</td>
                                        <td class="text-right">@item.price_sale đ</td>
                                        <td class="text-right">@item.quantity</td>
                                        <td>
                                            <div class="table-data-feature">
                                                <button class="item"
                                                        data-toggle="modal"
                                                        data-placement="top"
                                                        data-target="#@item.seo"
                                                        title="chi tiết">
                                                    <i class="zmdi zmdi-mail-send"></i>
                                                </button>
                                                <a href="/tbl_product/UpdateNew?id=@item.id">
                                                    <button class="item"
                                                            data-toggle="tooltip"
                                                            data-placement="top"
                                                            title="cập nhật">
                                                        <i class="zmdi zmdi-edit"></i>
                                                    </button>
                                                </a>
                                                <a href="/tbl_product/delete?id=@item.id">
                                                    <button class="item"
                                                            data-toggle="tooltip"
                                                            data-placement="top"
                                                            title="xóa">
                                                        <i class="zmdi zmdi-delete"></i>
                                                    </button>
                                                </a>

                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- END DATA TABLE -->
                    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                    @Html.PagedListPager(Model, page => Url.Action("IndexProduct", new { page }))
                </div>
            </div>
        </div>
    </div>
</div>

@foreach (var item in Model)
{
    <div id="@item.seo" class="modal face" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="">Information of product</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card" style="width: 200px">
                                <img class="card-img-top img-thumbnail"
                                     src="~/UploadFile/productImage/@item.avatar"
                                     alt="Card image"
                                     style="width: 100%" />
                                <div class="card-body">
                                    <label>
                                        Tên sản phẩm
                                        <h4 class="card-title">@item.title</h4>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <h5>Chi tiết</h5>
                            <p class="mb-2 text-muted text-uppercase small">
                                @item.title
                            </p>
                            <div class="table-responsive">
                                <table class="table table-sm table-borderless mb-0">
                                    <tbody>
                                        <tr>
                                            <th class="pl-0 w-25" scope="row">
                                                <strong>Mô tả ngắn</strong>
                                            </th>
                                            <td>
                                                @item.short_description
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="pl-0 w-25" scope="row">
                                                <strong>Mô tả chi tiết</strong>
                                            </th>
                                            <td><textarea id="summernote">@item.detail_description</textarea></td>
                                        </tr>
                                        <tr>
                                            <th class="pl-0 w-25" scope="row">
                                                <strong>Giá</strong>
                                            </th>
                                            <td>@item.price đ</td>
                                        </tr>
                                        <tr>
                                            <th class="pl-0 w-25" scope="row">
                                                <strong>Khuyến mại</strong>
                                            </th>
                                            <td>
                                                <a href="#">
                                                    <p class="text-info">
                                                        @item.price_sale đ
                                                    </p>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="pl-0 w-25" scope="row">
                                                <strong>Số lượng</strong>
                                            </th>
                                            <td>
                                                <a href="#">
                                                    <p class="text-info">
                                                        @item.quantity
                                                    </p>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="pl-0 w-25" scope="row">
                                                <strong>Ngày cập nhật</strong>
                                            </th>
                                            <td>@item.updated_date</td>
                                        </tr>
                                        <tr>
                                            <th class="pl-0 w-25" scope="row">
                                                <strong>Ngày tạo</strong>
                                            </th>
                                            <td>@item.created_date</td>
                                        </tr>
                                        <tr>
                                            <th class="pl-0 w-25" scope="row">
                                                <strong>seo</strong>
                                            </th>
                                            <td>@item.seo</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
}

