
@{
    ViewBag.Title = "AquaticCare";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<style>
    .content-news h2 {
        font-size: 22px;
        font-weight: bold;
    }

    .content-news h3 {
        font-size: 18px;
        font-weight: bold;
    }
</style>

<section class="detail-news">
        <div class="container">
            <div class="row">
                <div class="col-12 my-4 text-uppercase font13 cl_nau"
                     id="breadcrumbs">
                    <span>
                        <span>
                            <a href="https://webcaycanh.com/">Trang chủ</a>
                            <i class="fa fa-angle-right"></i>
                            <span class="breadcrumb_last" aria-current="page">Chăm sóc cây thủy sinh</span>
                        </span>
                    </span>
                </div>

                <div class="clearfix"></div>

                <div class="col-sm-9 a_cl_xanh" id="left-panel">
                    <div class="w100">
                        <h1 class="
                    tit-h1
                    text-center
                    marb20
                    padb20
                    font30
                    UTMHelvetIns
                    cl_xanh6
                  ">
                            Chăm sóc cây thủy sinh
                        </h1>
                    </div>

                    <div class="content-news" id="pills-des">
                        <p>
                            Cây thủy sinh có 2 loại một là loại sống dưới nước ở mặt đáy
                            thường là một số loại rêu, tảo&#8230;Loại 2 là loại chỉ có
                            phần rễ được tiếp xúc với nước thường được áp dụng để trồng
                            thủy canh, các loại cây cảnh văn phòng, trong nhà. Thì trong
                            bài viết này Web Cây Cảnh xin chia sẻ về cách chăm sóc các
                            loại cây cảnh văn phòng, trong nhà thủy sinh.
                        </p>
                        <p style="text-align: center">
                            <a href="https://webcaycanh.com/wp-content/uploads/2016/08/cay-trau-ba-thuy-sinh-1.jpg">
                                <img loading="lazy"
                                     width="400"
                                     height="357"
                                     class="alignnone size-medium wp-image-5774"
                                     src="https://webcaycanh.com/wp-content/uploads/2016/08/cay-trau-ba-thuy-sinh-1-400x357.jpg"
                                     alt="cay-trau-ba-thuy-sinh"
                                     srcset="
                        https://webcaycanh.com/wp-content/uploads/2016/08/cay-trau-ba-thuy-sinh-1-400x357.jpg 400w,
                        https://webcaycanh.com/wp-content/uploads/2016/08/cay-trau-ba-thuy-sinh-1.jpg         450w,
                        https://webcaycanh.com/wp-content/uploads/2016/08/cay-trau-ba-thuy-sinh-1-300x268.jpg 300w
                      "
                                     sizes="(max-width: 400px) 100vw, 400px" />
                            </a>
                        </p>
                        <p style="text-align: center"><em>Cây Trầu Bà Thủy Sinh</em></p>
                        <div id="toc_container" class="no_bullets">
                            <p class="toc_title">Mục Lục</p>
                            <ul class="toc_list">
                                <li>
                                    <a href="#Cach_cham_soc_cay_thuy_sinh">
                                        <span class="toc_number toc_depth_1">1</span> Cách chăm
                                        sóc cây thủy sinh
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="#Noidat_cay_thuy_sinh">
                                                <span class="toc_number toc_depth_2">1.1</span> Nơi
                                                đặt cây thủy sinh
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#Nuoc">
                                                <span class="toc_number toc_depth_2">1.2</span>
                                                Nước
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#Duong_chat">
                                                <span class="toc_number toc_depth_2">1.3</span>
                                                Dưỡng chất
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <h2>
                            <span id="Cach_cham_soc_cay_thuy_sinh">Cách chăm sóc cây thủy sinh</span>
                        </h2>
                        <p>
                            Ưu điểm của
                            <a href="https://webcaycanh.com/cay-thuy-sinh/"><strong>cây thủy sinh</strong></a>
                            là sạch sẽ và không mất công chăm sóc nhiều. Chúng ta chỉ cần
                            chú ý vào thời điểm ban đầu, thời điểm mà cây thay đổi môi
                            trường sống.
                        </p>
                        <h3>
                            <span id="Noidat_cay_thuy_sinh">Nơi đặt cây thủy sinh</span>
                        </h3>
                        <p>
                            Nên đặt cây ở nơi thoáng gió, dưới ánh điện hoặc có ánh nắng
                            nhẹ buổi sáng sớm và chiều muộn. Tránh để cây dưới nắng gắt,
                            nơi có hơi nóng tỏa ra như ở cục nóng điều hòa, sau cpu máy
                            tính&#8230;Vị trí đặt cây khá quan trọng trong việc
                            <strong>chăm sóc cây thủy sinh</strong> mà bạn cần lưu ý
                        </p>
                        <h3><span id="Nuoc">Nước</span></h3>
                        <p>
                            Bạn cần để ý nước của cây thủy sinh, nhất là thời gian ban đầu
                            nếu nước có mùi thì bạn cần thay nước luôn và loại bỏ rễ thối.
                            Nếu bạn không có thời gian để ý thì thời điểm ban đầu cứ 1
                            tuần bạn thay nước một lần.
                        </p>
                        <p>
                            Khi thay nước nên đổ nước đi, đổ nước lại nhiều lần để tạo
                            không khí trong nước, cây sẽ phát triển rễ tốt hơn
                        </p>
                        <h3><span id="Duong_chat">Dưỡng chất</span></h3>
                        <p style="text-align: center">
                            <a href="https://webcaycanh.com/wp-content/uploads/2019/06/cham-soc-cay-thuy-sinh.jpg">
                                <img loading="lazy"
                                     width="400"
                                     height="400"
                                     class="alignnone size-medium wp-image-9216"
                                     src="https://webcaycanh.com/wp-content/uploads/2019/06/cham-soc-cay-thuy-sinh-400x400.jpg"
                                     alt=""
                                     srcset="
                        https://webcaycanh.com/wp-content/uploads/2019/06/cham-soc-cay-thuy-sinh-400x400.jpg 400w,
                        https://webcaycanh.com/wp-content/uploads/2019/06/cham-soc-cay-thuy-sinh-150x150.jpg 150w,
                        https://webcaycanh.com/wp-content/uploads/2019/06/cham-soc-cay-thuy-sinh-255x255.jpg 255w,
                        https://webcaycanh.com/wp-content/uploads/2019/06/cham-soc-cay-thuy-sinh-83x83.jpg    83w,
                        https://webcaycanh.com/wp-content/uploads/2019/06/cham-soc-cay-thuy-sinh.jpg         540w
                      "
                                     sizes="(max-width: 400px) 100vw, 400px" />
                            </a>
                        </p>
                        <p style="text-align: center">
                            <em>Chăm sóc cây thủy sinh không khó</em>
                        </p>
                        <p>
                            Bạn cần thêm dung dịch thủy canh vào hàng tuần để giúp cây có
                            đủ chất dinh dưỡng, sao cho PPM( nồng độ dung dịch dinh dưỡng
                            ) trong nước trong khoảng từ 600 -1000 ppm là được. PH dao
                            động từ 5,5 &#8211; 6,5.
                        </p>
                        <p><strong>Lưu ý</strong>:</p>
                        <p>
                            &#8211; Không để cây thủy sinh cửa sổ nắng vì cây thường trong
                            bình thủy sinh, nắng gắt cộng với chiếu qua kính và bình thủy
                            tinh làm môi trường nước nóng lên dễ làm chết cây.
                        </p>
                        <p>
                            &#8211; Không để nước trong bình đục và có mùi lạ, cần thay
                            nước ngay khi thấy hiện tượng
                        </p>
                        <p>
                            &#8211; Nên đổ nước ngập rễ không đổ ngập thân cây, vì chỉ có
                            rễ mới hút nước, phần thân cây không hút được nước
                        </p>
                    </div>

                    <div class="clearfix"></div>

                    <div class="d-flex mt-2">
                        <div class="fb-like"
                             data-href="http://webcaycanh.com/cham-soc-cay-thuy-sinh/"
                             data-width=""
                             data-layout="button_count"
                             data-action="like"
                             data-size="small"
                             data-share="true"></div>
                    </div>

                    <div class="tit-box cl_xanh6 text-center mt-3">
                        Bài viết liên quan
                    </div>

                    <div class="owl-carousel owl-theme owl-2-items">
                        <div>
                            <a href="https://webcaycanh.com/cac-loai-cay-nguyen-lieu-pho-bien-hien-nay/"
                               title="Các loại cây nguyên liệu phổ biến hiện nay"
                               class="img-hover transition">
                                <img src="https://webcaycanh.com/wp-content/uploads/2021/08/cay-bach-xu-350x245.jpg"
                                     class="w100 wp-post-image"
                                     alt="cây bách xù"
                                     loading="lazy" />
                            </a>
                            <a href="https://webcaycanh.com/cac-loai-cay-nguyen-lieu-pho-bien-hien-nay/"
                               title="Các loại cây nguyên liệu phổ biến hiện nay"
                               class="">
                                <h3 class="
                        font18
                        tit-border-b2
                        relative
                        cl_xanh6
                        mb-3
                        mt-3
                        pb-2
                      "
                                    style="/*height: 25px; overflow: hidden;*/">
                                    Các loại cây nguyên liệu phổ biến hiện nay
                                </h3>
                            </a>
                            <div class="text-justify">
                                Nông nghiệp Việt Nam ngày càng phát triển là nơi cung cấp
                                nguyên liệu lớn cho thị trường trong nước lẫn nước ngoài.
                                Chính vì thế, hôm&#8230;
                            </div>
                        </div>
                        <div>
                            <a href="https://webcaycanh.com/hoa-cay-kim-tien-nhu-the-nao-cay-ra-hoa-co-y-nghia-gi/"
                               title="Hoa Cây Kim Tiền như thế nào? Cây ra hoa có ý nghĩa gì?"
                               class="img-hover transition">
                                <img src="https://webcaycanh.com/wp-content/uploads/2018/08/hoa-cay-kim-tien-350x245.jpg"
                                     class="w100 wp-post-image"
                                     alt="Hoa cây kim tiền"
                                     loading="lazy" />
                            </a>
                            <a href="https://webcaycanh.com/hoa-cay-kim-tien-nhu-the-nao-cay-ra-hoa-co-y-nghia-gi/"
                               title="Hoa Cây Kim Tiền như thế nào? Cây ra hoa có ý nghĩa gì?"
                               class="">
                                <h3 class="
                        font18
                        tit-border-b2
                        relative
                        cl_xanh6
                        mb-3
                        mt-3
                        pb-2
                      "
                                    style="/*height: 25px; overflow: hidden;*/">
                                    Hoa Cây Kim Tiền như thế nào? Cây ra hoa có ý nghĩa gì?
                                </h3>
                            </a>
                            <div class="text-justify">
                                Cây Kim Tiền là một trong những cây phong thuỷ được ưa
                                chuộng và tìm kiếm nhiều nhất hiện nay, nên có nhiều thắc
                                mắc xung quanh&#8230;
                            </div>
                        </div>
                        <div>
                            <a href="https://webcaycanh.com/cay-kim-ngan-bi-thoi-than/"
                               title="Cây Kim Ngân bị thối thân"
                               class="img-hover transition">
                                <img src="https://webcaycanh.com/wp-content/uploads/2021/08/cay-kim-ngan-bi-heo-vang-la-350x245.jpg"
                                     class="w100 wp-post-image"
                                     alt=""
                                     loading="lazy" />
                            </a>
                            <a href="https://webcaycanh.com/cay-kim-ngan-bi-thoi-than/"
                               title="Cây Kim Ngân bị thối thân"
                               class="">
                                <h3 class="
                        font18
                        tit-border-b2
                        relative
                        cl_xanh6
                        mb-3
                        mt-3
                        pb-2
                      "
                                    style="/*height: 25px; overflow: hidden;*/">
                                    Cây Kim Ngân bị thối thân
                                </h3>
                            </a>
                            <div class="text-justify">
                                Một trong những bệnh hay gặp nhất ở cây Kim Ngân đó chính là
                                bệnh thối thân, và nếu bạn khắc phục được tình trạng này
                                thì&#8230;
                            </div>
                        </div>
                        <div>
                            <a href="https://webcaycanh.com/khong-lo-cay-chet-neu-ban-hieu-dung-ve-dat/"
                               title="Không lo cây chết nếu bạn hiểu đúng về đất"
                               class="img-hover transition">
                                <img src="https://webcaycanh.com/wp-content/uploads/2021/06/dat-350x245.jpg"
                                     class="w100 wp-post-image"
                                     alt="dat"
                                     loading="lazy" />
                            </a>
                            <a href="https://webcaycanh.com/khong-lo-cay-chet-neu-ban-hieu-dung-ve-dat/"
                               title="Không lo cây chết nếu bạn hiểu đúng về đất"
                               class="">
                                <h3 class="
                        font18
                        tit-border-b2
                        relative
                        cl_xanh6
                        mb-3
                        mt-3
                        pb-2
                      "
                                    style="/*height: 25px; overflow: hidden;*/">
                                    Không lo cây chết nếu bạn hiểu đúng về đất
                                </h3>
                            </a>
                            <div class="text-justify">
                                Đại đa phần cây văn phòng chết chỉ vì 2 nguyên nhân đó là
                                thừa nước và thiếu nước. Vì đôi khi bạn được người bán
                                nhắc&#8230;
                            </div>
                        </div>
                        <div>
                            <a href="https://webcaycanh.com/tim-hieu-loai-cay-monstera-dot-bien-co-gia-len-den-ca-ty-dong/"
                               title="Tìm hiểu loài cây Monstera đột biến có giá lên đến cả tỷ đồng"
                               class="img-hover transition">
                                <img src="https://webcaycanh.com/wp-content/uploads/2021/05/monstera-dot-bien-350x245.jpg"
                                     class="w100 wp-post-image"
                                     alt="monstera đột biến"
                                     loading="lazy" />
                            </a>
                            <a href="https://webcaycanh.com/tim-hieu-loai-cay-monstera-dot-bien-co-gia-len-den-ca-ty-dong/"
                               title="Tìm hiểu loài cây Monstera đột biến có giá lên đến cả tỷ đồng"
                               class="">
                                <h3 class="
                        font18
                        tit-border-b2
                        relative
                        cl_xanh6
                        mb-3
                        mt-3
                        pb-2
                      "
                                    style="/*height: 25px; overflow: hidden;*/">
                                    Tìm hiểu loài cây Monstera đột biến có giá lên đến cả tỷ
                                    đồng
                                </h3>
                            </a>
                            <div class="text-justify">
                                Gần đây đang rầm rộ thông tin về loài cây Monstera đột biến
                                có giá lên đến cả tỷ đồng một cây, khiến nhiều người dân
                                thắc&#8230;
                            </div>
                        </div>
                        <div>
                            <a href="https://webcaycanh.com/su-that-ve-doc-cua-cay-kim-tien/"
                               title="Sự thật về độc của cây Kim Tiền"
                               class="img-hover transition">
                                <img src="https://webcaycanh.com/wp-content/uploads/2021/01/cay-kim-tien-co-doc.jpg"
                                     class="w100 wp-post-image"
                                     alt="cay-kim-tien-co-doc"
                                     loading="lazy" />
                            </a>
                            <a href="https://webcaycanh.com/su-that-ve-doc-cua-cay-kim-tien/"
                               title="Sự thật về độc của cây Kim Tiền"
                               class="">
                                <h3 class="
                        font18
                        tit-border-b2
                        relative
                        cl_xanh6
                        mb-3
                        mt-3
                        pb-2
                      "
                                    style="/*height: 25px; overflow: hidden;*/">
                                    Sự thật về độc của cây Kim Tiền
                                </h3>
                            </a>
                            <div class="text-justify">
                                Có lẽ rất nhiều người đã nghe hoặc đọc được ở đâu đó cây Kim
                                Tiền có độc, thậm chí là rất độc, nhưng vì tác dụng&#8230;
                            </div>
                        </div>
                    </div>
                </div>

                <!-- sidebar -->
                <div class="col-sm-3" id="sidebar">
                    <div id="nav_menu-3" class="widget_nav_menu sidebar-widget mb-4">
                        <div class="sb-tit bg_xanh6 cl_white text-uppercase text-center py-3">Danh mục cây cảnh</div><ul id="menu-danh-muc-san-pham" class="menu">
                            @foreach (var item in ViewBag.categories)
                            {
                                <li class="menu-item menu-item-type-taxonomy menu-item-object-tax_cay current-cay-ancestor current-menu-parent current-cay-parent menu-item-6138"><a href="/Client/DetailCategory?id=@item.id">@item.name</a></li>
                            }

                        </ul>
                    </div><div id="custom_html-3" class="widget_text widget_custom_html sidebar-widget mb-4"><div class="sb-tit bg_xanh6 cl_white text-uppercase text-center py-3">Công Ty Web Cây Cảnh</div><div class="textwidget custom-html-widget"><a href="https://webcaycanh.com/wp-content/uploads/2019/06/cty-cay-canh.jpg"><img class="alignnone size-full wp-image-9294" src="https://webcaycanh.com/wp-content/uploads/2019/06/cty-cay-canh.jpg" alt="cty-cay-canh" /></a></div></div><div id="id_post_by_tax-2" class="Get_Post_By_Taxonomy sidebar-widget mb-4">
                        <div class="sb-tit bg_xanh6 cl_white text-uppercase text-center py-3">Cây cảnh mới nhất</div><div class="sb-in-box">
                            @foreach (var item in ViewBag.productTop8)
                            {
                                <a class="mb-4 w100" href="/Client/detail?id=@item.id" title="@item.title">
                                    <div class="col-4 no-padding float-left">
                                        <img src="~/UploadFile/productImage/@item.avatar" class="img-thumbnail w100 wp-post-image" alt="@item.title" loading="lazy" srcset="~/UploadFile/productImage/@item.avatar 83w, ~/UploadFile/productImage/@item.avatar 400w, ~/UploadFile/productImage/@item.avatar 150w, ~/UploadFile/productImage/@item.avatar 768w, ~/UploadFile/productImage/@item.avatar 255w, ~/UploadFile/productImage/@item.avatar 800w" sizes="(max-width: 83px) 100vw, 83px" />
                                    </div>
                                    <div class="col-8 no-padding pl-2 float-left">
                                        <h4 class="font14 bold" style="line-height: 22px;">@item.title</h4>
                                        <span class="price font18 text-danger w100">@item.price <ins>₫</ins></span>
                                    </div>
                                </a>
                            }


                        </div>
                    </div><div id="id_post_by_tax-3" class="Get_Post_By_Taxonomy sidebar-widget mb-4">
                        <div class="sb-tit bg_xanh6 cl_white text-uppercase text-center py-3">Cây Cảnh Ưa Thích</div><div class="sb-in-box">
                            @foreach (var item in ViewBag.productTop8)
                            {
                                <a class="mb-4 w100" href="/Client/detail?id=@item.id" title="@item.title">
                                    <div class="col-4 no-padding float-left">
                                        <img src="~/UploadFile/productImage/@item.avatar" class="img-thumbnail w100 wp-post-image" alt="cây monstera delicisosa" loading="lazy" srcset="~/UploadFile/productImage/@item.avatar 83w, ~/UploadFile/productImage/@item.avatar 400w, ~/UploadFile/productImage/@item.avatar 1024w, ~/UploadFile/productImage/@item.avatar 150w, ~/UploadFile/productImage/@item.avatar 768w, ~/UploadFile/productImage/@item.avatar 1536w, ~/UploadFile/productImage/@item.avatar 255w, ~/UploadFile/productImage/@item.avatar 1642w" sizes="(max-width: 83px) 100vw, 83px" />
                                    </div>
                                    <div class="col-8 no-padding pl-2 float-left">
                                        <h4 class="font14 bold" style="line-height: 22px;">Cây Monstera</h4>
                                        <span class="price font18 text-danger w100">310.000 <ins>₫</ins></span>
                                    </div>
                                </a>
                            }

                        </div>
                    </div>
                </div> <!-- /#sidebar -->
            </div>
        </div>
      </section>

