
@{
    ViewBag.Title = "CareTreeService";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<style>



    .content-news h2 {
        font-size: 22px;
        font-weight: bold;
    }



    .content-news h3 {
        font-size: 18px;
        font-weight: bold;
    }
</style>

<section class="detail-news">



	<div class="container">



        <div class="row">



            <div class="col-12 my-4 text-uppercase font13 cl_nau" id="breadcrumbs"><span><span><a href="https://webcaycanh.com/">Trang chủ</a> <i class="fa fa-angle-right"></i> <span class="breadcrumb_last" aria-current="page">Bảng báo giá dịch vụ chăm sóc cây cảnh</span></span></span></div>






            <div class="clearfix"></div>



            <div class="col-sm-9 a_cl_xanh" id="left-panel">



                <div class="w100"><h1 class="tit-h1 text-center marb20 padb20 font30 UTMHelvetIns cl_xanh6">Bảng báo giá dịch vụ chăm sóc cây cảnh</h1></div>



                <div class="content-news" id="pills-des">
                    <p>Cây xanh hiện&nbsp;đã là một phần không thể thiếu&nbsp;đối với mỗi không gian từ nhà&nbsp;ở cho&nbsp;đến văn phòng nhất là&nbsp;đối với những thành phố&nbsp;đông&nbsp;đúc như: Hồ Chí Minh và Hà Nội. Tuy nhiên việc giúp cây sống và phát triển tốt thì không hề dễ, nhất là&nbsp;đối với văn phòng có nhiều cây xanh, diện tích&nbsp;lớn.&nbsp;Để mọi việc trở nên dễ dàng chỉ cần liên hệ tới <a href="https://webcaycanh.com/bang-bao-gia-dich-vu-cham-soc-cay-canh/">dịch vụ chăm sóc cây cảnh</a> của&nbsp;<strong>Web Cây Cảnh.</strong></p>
                    <p style="text-align: center;"><a href="https://webcaycanh.com/wp-content/uploads/2020/02/bang-bao-gia-cham-soc-cay.jpg"><img loading="lazy" width="400" height="233" class="alignnone size-medium wp-image-10503" src="https://webcaycanh.com/wp-content/uploads/2020/02/bang-bao-gia-cham-soc-cay-400x233.jpg" alt="bang-bao-gia-cham-soc-cay" srcset="https://webcaycanh.com/wp-content/uploads/2020/02/bang-bao-gia-cham-soc-cay-400x233.jpg 400w, https://webcaycanh.com/wp-content/uploads/2020/02/bang-bao-gia-cham-soc-cay-768x447.jpg 768w, https://webcaycanh.com/wp-content/uploads/2020/02/bang-bao-gia-cham-soc-cay.jpg 800w" sizes="(max-width: 400px) 100vw, 400px" /></a></p>
                    <p style="text-align: center;"><em>Dịch vụ chăm sóc cây cảnh</em></p>
                    <div id="toc_container" class="no_bullets"><p class="toc_title">Mục Lục</p><ul class="toc_list"><li><a href="#Bannbspduoc_gi_khi_thue_bennbspWeb_Cay_Canh_cham_soc"><span class="toc_number toc_depth_1">1</span> Bạn&nbsp;được gì khi thuê bên&nbsp;Web Cây Cảnh chăm sóc?</a></li><li><a href="#Mot_so_cau_hoi_cham_soc_thuongnbspduoc_khach_hang_thac_mac"><span class="toc_number toc_depth_1">2</span> Một số câu hỏi chăm sóc thường&nbsp;được khách hàng thắc mắc</a><ul><li><a href="#Cau_hoi_1_Cay_hong_chet_conbspduoc_thay_moi"><span class="toc_number toc_depth_2">2.1</span> Câu hỏi 1: Cây hỏng, chết có&nbsp;được thay mới?</a></li><li><a href="#Cau_hoi_2nbspQuy_trinh_cham_soc_cay_nhu_the_nao"><span class="toc_number toc_depth_2">2.2</span> Câu hỏi 2:&nbsp;Quy trình chăm sóc cây như thế nào?</a></li><li><a href="#Cau_hoi_3_BennbspWebcaycanh_co_xuat_hoanbspdonnbspdo"><span class="toc_number toc_depth_2">2.3</span> Câu hỏi 3: Bên&nbsp;Webcaycanh có xuất hóa&nbsp;đơn&nbsp;đỏ?</a></li><li><a href="#Cau_hoi_4_Thanh_toan_nhu_the_nao"><span class="toc_number toc_depth_2">2.4</span> Câu hỏi 4: Thanh toán như thế nào?</a></li></ul></li><li><a href="#Bang_bao_gia_dich_vu_cham_soc_cay_canh"><span class="toc_number toc_depth_1">3</span> Bảng báo giá dịch vụ chăm sóc cây cảnh</a></li><li><a href="#Bang_gia_dich_vu_cham_soc_cay_co_thay_moi_mien_phi"><span class="toc_number toc_depth_1">4</span> Bảng giá dịch vụ chăm sóc cây có thay mới miễn phí</a></li><li><a href="#Nhung_luunbspy_khi_su_dung_cham_soc_cay"><span class="toc_number toc_depth_1">5</span> Những lưu&nbsp;ý khi sử dụng chăm sóc cây</a></li><li><a href="#Mot_so_hinh_anh_cham_soc_cay"><span class="toc_number toc_depth_1">6</span> Một số hình ảnh chăm sóc cây</a></li></ul></div>
                    <h2><span id="Bannbspduoc_gi_khi_thue_bennbspWeb_Cay_Canh_cham_soc">Bạn&nbsp;được gì khi thuê bên&nbsp;Web Cây Cảnh chăm sóc?</span></h2>
                    <p>&#8211; Kiểm tra&nbsp;định kỳ cho cây hàng tuần.</p>
                    <p>&#8211; Kéo dài tuổi thọ&nbsp;cho cây.</p>
                    <p>&#8211; Bố trí cây phù hợp theo&nbsp;đặc&nbsp;điểm sống</p>
                    <p>&#8211; Giữ cây luôn tươi mới gồm: Vệ sinh&nbsp;lá, lau chậu, tưới nước, bỏ lá bị hư.</p>
                    <p>&#8211; Bổ sung dưỡng chất cho&nbsp;đất khi cây có dấu hiệu thiếu chất.</p>
                    <p>&#8211; Thay cây bị hỏng, xấu với giá&nbsp;ưu&nbsp;đãi.</p>
                    <p>&#8211; Giá thuê chăm sóc rẻ.</p>
                    <h2><span id="Mot_so_cau_hoi_cham_soc_thuongnbspduoc_khach_hang_thac_mac">Một số câu hỏi chăm sóc thường&nbsp;được khách hàng thắc mắc</span></h2>
                    <h3><span id="Cau_hoi_1_Cay_hong_chet_conbspduoc_thay_moi"><strong>Câu hỏi 1</strong>: Cây hỏng, chết có&nbsp;được thay mới?</span></h3>
                    <p>&#8211; Thuê bên&nbsp;web cây cảnh. Cây của bạn sẽ luôn&nbsp;được sạch lá, chậu cây sạch sẽ, bón phân định kỳ,&nbsp;cây&nbsp;được kéo dài tuổi thọ. Nếu cây hỏng, xấu&nbsp;đơn vị muốn thay sẽ&nbsp;được giảm giá 20% tiền cây, miễn phí công trồng và vận chuyển (Nếu dùng gói dịch vụ chăm sóc không). Còn nếu quý khách hàng dùng gói dịch vụ chăm sóc cây có thay mới thì không mất thêm chi phí nào cả.</p>
                    <p style="text-align: center;"><a href="https://webcaycanh.com/wp-content/uploads/2020/02/dich-vu-cham-soc-cay-canh.jpg"><img loading="lazy" width="400" height="240" class="alignnone size-medium wp-image-10504" src="https://webcaycanh.com/wp-content/uploads/2020/02/dich-vu-cham-soc-cay-canh-400x240.jpg" alt="dich-vu-cham-soc-cay-canh" srcset="https://webcaycanh.com/wp-content/uploads/2020/02/dich-vu-cham-soc-cay-canh-400x240.jpg 400w, https://webcaycanh.com/wp-content/uploads/2020/02/dich-vu-cham-soc-cay-canh.jpg 512w" sizes="(max-width: 400px) 100vw, 400px" /></a></p>
                    <h3><span id="Cau_hoi_2nbspQuy_trinh_cham_soc_cay_nhu_the_nao"><strong>Câu hỏi 2:&nbsp;</strong>Quy trình chăm sóc cây như thế nào?</span></h3>
                    <p>&#8211; Nhân viên bên&nbsp;Web Cây Cảnh sẽ&nbsp;đến chăm sóc theo một ngày cố&nbsp;định trong tuần,&nbsp;do bên khách hàng quyết&nbsp;định và thống nhất cùng công ty TNHH&nbsp;Webcaycanh. Nhân viên sẽ&nbsp;đến lau lá, tưới cây, bón phân, dọn vệ sinh bồn cây&#8230;Sau khi làm xong sẽ&nbsp;được bên phía khách hàng kiểm tra và có bảng chấm công, khi kiểm tra mọi thứ&nbsp;đã&nbsp;ổn thì&nbsp;đưa bảng chấm công cho nhân viên bên&nbsp;Web Cây Cảnh&nbsp;đánh dấu.</p>
                    <h3><span id="Cau_hoi_3_BennbspWebcaycanh_co_xuat_hoanbspdonnbspdo"><strong>Câu hỏi 3</strong>: Bên&nbsp;Webcaycanh có xuất hóa&nbsp;đơn&nbsp;đỏ?</span></h3>
                    <p>&#8211; Bên công ty&nbsp;Webcaycanh có xuất hóa&nbsp;đơn&nbsp;đỏ và xuất theo từng tháng, từng quý, từng năm tùy theo nhu cầu khách hàng muốn xuất hóa&nbsp;đơn.</p>
                    <h3><span id="Cau_hoi_4_Thanh_toan_nhu_the_nao"><strong>Câu hỏi 4</strong>: Thanh toán như thế nào?</span></h3>
                    <p>&#8211; Quý khách hàng sẽ thanh toán sau theo từng tháng, từng quý&#8230; Tùy theo quý khách hàng</p>
                    <h2><span id="Bang_bao_gia_dich_vu_cham_soc_cay_canh">Bảng báo giá dịch vụ chăm sóc cây cảnh</span></h2>
                    <p>Cây nhỏ&nbsp;để bàn, treo, để giá cao dưới 40cm: <span style="color: #ff0000;">14.000 VNĐ</span>/ 1 tháng/ cây.</p>
                    <p>Cây&nbsp;để&nbsp;đất, dưới sàn cao trên 40cm dưới 1m: <span style="color: #ff0000;">49.000 VNĐ</span>/ 1 tháng/ cây.</p>
                    <p>Cây&nbsp;để&nbsp;đất, dưới sàn cao hơn 1m: <span style="color: #ff0000;">59.000 VNĐ</span>/ 1 tháng/ cây.</p>
                    <p>Nếu là vườn dưới&nbsp;đất&nbsp;sẽ&nbsp;được tính theo m2 <span style="color: #ff0000;">19.000 VNĐ</span>/ 1 tháng/ m2.</p>
                    <h2><span id="Bang_gia_dich_vu_cham_soc_cay_co_thay_moi_mien_phi">Bảng giá dịch vụ chăm sóc cây có thay mới miễn phí</span></h2>
                    <p>Cây nhỏ&nbsp;để bàn, treo, để giá cao dưới 40cm: <span style="color: #ff0000;">49.000 VNĐ</span>/ 1 tháng/ cây.</p>
                    <p>Cây&nbsp;để&nbsp;đất, dưới sàn cao trên 40cm dưới 1m: <span style="color: #ff0000;">149.000 VNĐ</span>/ 1 tháng/ cây.</p>
                    <p>Cây&nbsp;để&nbsp;đất, dưới sàn cao hơn 1m: <span style="color: #ff0000;">189.000 VNĐ</span>/ 1 tháng/ cây.</p>
                    <p>Giá cơ bản là thế còn tùy theo giá trị của cây,&nbsp;để biết chính xác giá bên&nbsp;webcaycanh sẽ báo giá và báo lại cho bên quý khách hàng.</p>
                    <p>Nếu số lượng cây nhiều&nbsp;Webcaycanh sẽ cho nhân viên&nbsp;đến khảo sát và báo giá lại sau, với số lượng lớn sẽ&nbsp;được giảm giá tùy theo số lượng cây.</p>
                    <p>Nếu&nbsp;đơn vị ký hợp&nbsp;đồng trên 1 năm thì sẽ&nbsp;được thay cây mới miễn phí 1 lần&nbsp;vào&nbsp;đầu năm mới&nbsp;với những cây xấu và hỏng. (không&nbsp;áp dụng với cây mua&nbsp;ở&nbsp;đơn vị khác)</p>
                    <h2><span id="Nhung_luunbspy_khi_su_dung_cham_soc_cay">Những lưu&nbsp;ý khi sử dụng chăm sóc cây</span></h2>
                    <p>&#8211; Cây sẽ&nbsp;được tư vấn&nbsp;để chỗ phù hợp&nbsp;để cây sống lâu, nếu quý khách hàng không theo&nbsp;ý kiến và bên&nbsp;webcaycanh cũng không&nbsp;đồng&nbsp;ý với nơi để cây,&nbsp;thì vấn&nbsp;đề xảy ra với cây khách hàng sẽ tự chịu trách nhiệm (ví dụ cây&nbsp;ưa sáng lại&nbsp;để bóng tối, cây&nbsp;ưa mát&nbsp;để chỗ nắng, để cây chỗ cục nóng điều hòa&#8230;)</p>
                    <p>&#8211; Không&nbsp;đổ các hóa chất, chất lạ, bã chè, tàn thuốc, bã cà phê&#8230;.vào gốc cây khi không&nbsp;được sự&nbsp;đồng&nbsp;ý của bên&nbsp;Webcaycanh.</p>
                    <p>Đơn giá thuê tối thiểu là <span style="color: #ff0000;"><strong>1.000.000</strong></span> VNĐ/tháng áp dụng với các đơn vị muốn chăm sóc nhưng số lượng cây ít.</p>


                    <h2 class="has-text-align-center"><span id="Mot_so_hinh_anh_cham_soc_cay">Một số hình ảnh chăm sóc cây</span></h2>



                    <p class="has-text-align-center"><strong>Chăm sóc cây cảnh HD MON</strong></p>



                    <figure class="wp-block-gallery columns-3 is-cropped"><ul class="blocks-gallery-grid"><li class="blocks-gallery-item"><figure><img loading="lazy" width="768" height="1024" src="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-7-768x1024.jpg" alt="" data-id="12106" data-full-url="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-7-scaled.jpg" data-link="https://webcaycanh.com/bang-bao-gia-dich-vu-cham-soc-cay-canh/cham-soc-cay-hd-mon-7/" class="wp-image-12106" srcset="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-7-768x1024.jpg 768w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-7-300x400.jpg 300w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-7-1152x1536.jpg 1152w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-7-1536x2048.jpg 1536w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-7-scaled.jpg 1920w" sizes="(max-width: 768px) 100vw, 768px" /></figure></li><li class="blocks-gallery-item"><figure><img loading="lazy" width="768" height="1024" src="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-10-768x1024.jpg" alt="" data-id="12107" data-full-url="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-10-scaled.jpg" data-link="https://webcaycanh.com/bang-bao-gia-dich-vu-cham-soc-cay-canh/cham-soc-cay-hd-mon-10/" class="wp-image-12107" srcset="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-10-768x1024.jpg 768w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-10-300x400.jpg 300w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-10-1152x1536.jpg 1152w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-10-1536x2048.jpg 1536w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-10-scaled.jpg 1920w" sizes="(max-width: 768px) 100vw, 768px" /></figure></li><li class="blocks-gallery-item"><figure><img loading="lazy" width="1024" height="768" src="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-1024x768.jpg" alt="" data-id="12108" data-full-url="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon.jpg" data-link="https://webcaycanh.com/bang-bao-gia-dich-vu-cham-soc-cay-canh/cham-soc-cay-hd-mon/" class="wp-image-12108" srcset="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-1024x768.jpg 1024w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-400x300.jpg 400w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-768x576.jpg 768w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-1536x1152.jpg 1536w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon.jpg 1926w" sizes="(max-width: 1024px) 100vw, 1024px" /></figure></li><li class="blocks-gallery-item"><figure><img loading="lazy" width="1024" height="768" src="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-1-1024x768.jpg" alt="" data-id="12109" data-full-url="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-1.jpg" data-link="https://webcaycanh.com/bang-bao-gia-dich-vu-cham-soc-cay-canh/cham-soc-cay-hd-mon-1/" class="wp-image-12109" srcset="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-1-1024x768.jpg 1024w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-1-400x300.jpg 400w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-1-768x576.jpg 768w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-1-1536x1152.jpg 1536w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-1.jpg 1926w" sizes="(max-width: 1024px) 100vw, 1024px" /></figure></li><li class="blocks-gallery-item"><figure><img loading="lazy" width="1024" height="768" src="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-2-1024x768.jpg" alt="" data-id="12110" data-full-url="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-2.jpg" data-link="https://webcaycanh.com/bang-bao-gia-dich-vu-cham-soc-cay-canh/cham-soc-cay-hd-mon-2/" class="wp-image-12110" srcset="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-2-1024x768.jpg 1024w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-2-400x300.jpg 400w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-2-768x576.jpg 768w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-2-1536x1152.jpg 1536w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-2.jpg 1926w" sizes="(max-width: 1024px) 100vw, 1024px" /></figure></li><li class="blocks-gallery-item"><figure><img loading="lazy" width="1024" height="768" src="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-3-1024x768.jpg" alt="" data-id="12111" data-full-url="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-3.jpg" data-link="https://webcaycanh.com/bang-bao-gia-dich-vu-cham-soc-cay-canh/cham-soc-cay-hd-mon-3/" class="wp-image-12111" srcset="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-3-1024x768.jpg 1024w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-3-400x300.jpg 400w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-3-768x576.jpg 768w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-3-1536x1152.jpg 1536w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-3.jpg 1926w" sizes="(max-width: 1024px) 100vw, 1024px" /></figure></li><li class="blocks-gallery-item"><figure><img loading="lazy" width="1024" height="768" src="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-4-1024x768.jpg" alt="" data-id="12112" data-full-url="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-4.jpg" data-link="https://webcaycanh.com/bang-bao-gia-dich-vu-cham-soc-cay-canh/cham-soc-cay-hd-mon-4/" class="wp-image-12112" srcset="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-4-1024x768.jpg 1024w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-4-400x300.jpg 400w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-4-768x576.jpg 768w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-4-1536x1152.jpg 1536w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-4.jpg 1926w" sizes="(max-width: 1024px) 100vw, 1024px" /></figure></li><li class="blocks-gallery-item"><figure><img loading="lazy" width="1024" height="768" src="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-5-1024x768.jpg" alt="" data-id="12113" data-full-url="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-5.jpg" data-link="https://webcaycanh.com/bang-bao-gia-dich-vu-cham-soc-cay-canh/cham-soc-cay-hd-mon-5/" class="wp-image-12113" srcset="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-5-1024x768.jpg 1024w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-5-400x300.jpg 400w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-5-768x576.jpg 768w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-5-1536x1152.jpg 1536w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-5.jpg 1926w" sizes="(max-width: 1024px) 100vw, 1024px" /></figure></li><li class="blocks-gallery-item"><figure><img loading="lazy" width="1024" height="768" src="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-6-1024x768.jpg" alt="" data-id="12114" data-full-url="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-6.jpg" data-link="https://webcaycanh.com/bang-bao-gia-dich-vu-cham-soc-cay-canh/cham-soc-cay-hd-mon-6/" class="wp-image-12114" srcset="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-6-1024x768.jpg 1024w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-6-400x300.jpg 400w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-6-768x576.jpg 768w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-6-1536x1152.jpg 1536w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hd-mon-6.jpg 1926w" sizes="(max-width: 1024px) 100vw, 1024px" /></figure></li></ul></figure>



                    <p class="has-text-align-center"><strong>Chăm sóc cây cảnh Teachbase VN</strong></p>



                    <figure class="wp-block-gallery columns-3 is-cropped"><ul class="blocks-gallery-grid"><li class="blocks-gallery-item"><figure><img loading="lazy" width="1024" height="768" src="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN-1024x768.jpg" alt="" data-id="12121" data-full-url="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN.jpg" data-link="https://webcaycanh.com/bang-bao-gia-dich-vu-cham-soc-cay-canh/cham-soc-teachbase-vn/" class="wp-image-12121" srcset="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN-1024x768.jpg 1024w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN-400x300.jpg 400w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN-768x576.jpg 768w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN-1536x1152.jpg 1536w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN.jpg 1926w" sizes="(max-width: 1024px) 100vw, 1024px" /></figure></li><li class="blocks-gallery-item"><figure><img loading="lazy" width="1024" height="768" src="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN-1-1024x768.jpg" alt="" data-id="12122" data-full-url="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN-1.jpg" data-link="https://webcaycanh.com/bang-bao-gia-dich-vu-cham-soc-cay-canh/cham-soc-teachbase-vn-1/" class="wp-image-12122" srcset="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN-1-1024x768.jpg 1024w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN-1-400x300.jpg 400w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN-1-768x576.jpg 768w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN-1-1536x1152.jpg 1536w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN-1.jpg 1926w" sizes="(max-width: 1024px) 100vw, 1024px" /></figure></li><li class="blocks-gallery-item"><figure><img loading="lazy" width="1024" height="768" src="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN-2-1024x768.jpg" alt="" data-id="12123" data-full-url="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN-2.jpg" data-link="https://webcaycanh.com/bang-bao-gia-dich-vu-cham-soc-cay-canh/cham-soc-teachbase-vn-2/" class="wp-image-12123" srcset="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN-2-1024x768.jpg 1024w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN-2-400x300.jpg 400w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN-2-768x576.jpg 768w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN-2-1536x1152.jpg 1536w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN-2.jpg 1926w" sizes="(max-width: 1024px) 100vw, 1024px" /></figure></li><li class="blocks-gallery-item"><figure><img loading="lazy" width="1024" height="768" src="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN-3-1024x768.jpg" alt="" data-id="12124" data-full-url="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN-3.jpg" data-link="https://webcaycanh.com/bang-bao-gia-dich-vu-cham-soc-cay-canh/cham-soc-teachbase-vn-3/" class="wp-image-12124" srcset="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN-3-1024x768.jpg 1024w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN-3-400x300.jpg 400w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN-3-768x576.jpg 768w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN-3-1536x1152.jpg 1536w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN-3.jpg 1926w" sizes="(max-width: 1024px) 100vw, 1024px" /></figure></li><li class="blocks-gallery-item"><figure><img loading="lazy" width="1024" height="768" src="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN-4-1024x768.jpg" alt="" data-id="12125" data-full-url="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN-4.jpg" data-link="https://webcaycanh.com/bang-bao-gia-dich-vu-cham-soc-cay-canh/cham-soc-teachbase-vn-4/" class="wp-image-12125" srcset="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN-4-1024x768.jpg 1024w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN-4-400x300.jpg 400w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN-4-768x576.jpg 768w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN-4-1536x1152.jpg 1536w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN-4.jpg 1926w" sizes="(max-width: 1024px) 100vw, 1024px" /></figure></li><li class="blocks-gallery-item"><figure><img loading="lazy" width="1024" height="768" src="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN-5-1024x768.jpg" alt="" data-id="12127" data-full-url="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN-5.jpg" data-link="https://webcaycanh.com/bang-bao-gia-dich-vu-cham-soc-cay-canh/cham-soc-teachbase-vn-5/" class="wp-image-12127" srcset="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN-5-1024x768.jpg 1024w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN-5-400x300.jpg 400w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN-5-768x576.jpg 768w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN-5-1536x1152.jpg 1536w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN-5.jpg 1926w" sizes="(max-width: 1024px) 100vw, 1024px" /></figure></li><li class="blocks-gallery-item"><figure><img loading="lazy" width="1024" height="768" src="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN-6-1024x768.jpg" alt="" data-id="12128" data-full-url="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN-6.jpg" data-link="https://webcaycanh.com/bang-bao-gia-dich-vu-cham-soc-cay-canh/cham-soc-teachbase-vn-6/" class="wp-image-12128" srcset="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN-6-1024x768.jpg 1024w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN-6-400x300.jpg 400w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN-6-768x576.jpg 768w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN-6-1536x1152.jpg 1536w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN-6.jpg 1926w" sizes="(max-width: 1024px) 100vw, 1024px" /></figure></li><li class="blocks-gallery-item"><figure><img loading="lazy" width="1024" height="768" src="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN-7-1024x768.jpg" alt="" data-id="12129" data-full-url="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN-7.jpg" data-link="https://webcaycanh.com/bang-bao-gia-dich-vu-cham-soc-cay-canh/cham-soc-teachbase-vn-7/" class="wp-image-12129" srcset="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN-7-1024x768.jpg 1024w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN-7-400x300.jpg 400w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN-7-768x576.jpg 768w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN-7-1536x1152.jpg 1536w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-Teachbase-VN-7.jpg 1926w" sizes="(max-width: 1024px) 100vw, 1024px" /></figure></li></ul></figure>



                    <p class="has-text-align-center"><strong>Chăm sóc cây cảnh Hanssol global</strong></p>



                    <figure class="wp-block-gallery columns-3 is-cropped"><ul class="blocks-gallery-grid"><li class="blocks-gallery-item"><figure><img loading="lazy" width="1024" height="768" src="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hanssol-global-1024x768.jpg" alt="" data-id="12132" data-full-url="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hanssol-global.jpg" data-link="https://webcaycanh.com/bang-bao-gia-dich-vu-cham-soc-cay-canh/cham-soc-cay-hanssol-global/" class="wp-image-12132" srcset="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hanssol-global-1024x768.jpg 1024w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hanssol-global-400x300.jpg 400w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hanssol-global-768x576.jpg 768w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hanssol-global-1536x1152.jpg 1536w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hanssol-global.jpg 1926w" sizes="(max-width: 1024px) 100vw, 1024px" /></figure></li><li class="blocks-gallery-item"><figure><img loading="lazy" width="1024" height="768" src="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hanssol-global-1-1024x768.jpg" alt="" data-id="12133" data-full-url="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hanssol-global-1.jpg" data-link="https://webcaycanh.com/bang-bao-gia-dich-vu-cham-soc-cay-canh/cham-soc-cay-hanssol-global-1/" class="wp-image-12133" srcset="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hanssol-global-1-1024x768.jpg 1024w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hanssol-global-1-400x300.jpg 400w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hanssol-global-1-768x576.jpg 768w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hanssol-global-1-1536x1152.jpg 1536w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hanssol-global-1.jpg 1926w" sizes="(max-width: 1024px) 100vw, 1024px" /></figure></li><li class="blocks-gallery-item"><figure><img loading="lazy" width="1024" height="768" src="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hanssol-global-2-1024x768.jpg" alt="" data-id="12134" data-full-url="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hanssol-global-2.jpg" data-link="https://webcaycanh.com/bang-bao-gia-dich-vu-cham-soc-cay-canh/cham-soc-cay-hanssol-global-2/" class="wp-image-12134" srcset="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hanssol-global-2-1024x768.jpg 1024w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hanssol-global-2-400x300.jpg 400w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hanssol-global-2-768x576.jpg 768w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hanssol-global-2-1536x1152.jpg 1536w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hanssol-global-2.jpg 1926w" sizes="(max-width: 1024px) 100vw, 1024px" /></figure></li><li class="blocks-gallery-item"><figure><img loading="lazy" width="1024" height="768" src="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hanssol-global-3-1024x768.jpg" alt="" data-id="12135" data-full-url="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hanssol-global-3.jpg" data-link="https://webcaycanh.com/bang-bao-gia-dich-vu-cham-soc-cay-canh/cham-soc-cay-hanssol-global-3/" class="wp-image-12135" srcset="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hanssol-global-3-1024x768.jpg 1024w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hanssol-global-3-400x300.jpg 400w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hanssol-global-3-768x576.jpg 768w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hanssol-global-3-1536x1152.jpg 1536w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hanssol-global-3.jpg 1926w" sizes="(max-width: 1024px) 100vw, 1024px" /></figure></li><li class="blocks-gallery-item"><figure><img loading="lazy" width="1024" height="768" src="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hanssol-global-4-1024x768.jpg" alt="" data-id="12136" data-full-url="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hanssol-global-4.jpg" data-link="https://webcaycanh.com/bang-bao-gia-dich-vu-cham-soc-cay-canh/cham-soc-cay-hanssol-global-4/" class="wp-image-12136" srcset="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hanssol-global-4-1024x768.jpg 1024w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hanssol-global-4-400x300.jpg 400w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hanssol-global-4-768x576.jpg 768w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hanssol-global-4-1536x1152.jpg 1536w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hanssol-global-4.jpg 1926w" sizes="(max-width: 1024px) 100vw, 1024px" /></figure></li><li class="blocks-gallery-item"><figure><img loading="lazy" width="1024" height="768" src="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hanssol-global-5-1024x768.jpg" alt="" data-id="12137" data-full-url="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hanssol-global-5.jpg" data-link="https://webcaycanh.com/bang-bao-gia-dich-vu-cham-soc-cay-canh/cham-soc-cay-hanssol-global-5/" class="wp-image-12137" srcset="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hanssol-global-5-1024x768.jpg 1024w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hanssol-global-5-400x300.jpg 400w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hanssol-global-5-768x576.jpg 768w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hanssol-global-5-1536x1152.jpg 1536w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-hanssol-global-5.jpg 1926w" sizes="(max-width: 1024px) 100vw, 1024px" /></figure></li></ul></figure>



                    <p class="has-text-align-center"><strong>Chăm sóc cây cảnh Sea Horse</strong></p>



                    <figure class="wp-block-gallery columns-3 is-cropped"><ul class="blocks-gallery-grid"><li class="blocks-gallery-item"><figure><img loading="lazy" width="1024" height="768" src="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Sea-Horse-1024x768.jpg" alt="" data-id="12141" data-full-url="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Sea-Horse.jpg" data-link="https://webcaycanh.com/bang-bao-gia-dich-vu-cham-soc-cay-canh/cham-soc-cay-sea-horse/" class="wp-image-12141" srcset="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Sea-Horse-1024x768.jpg 1024w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Sea-Horse-400x300.jpg 400w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Sea-Horse-768x576.jpg 768w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Sea-Horse-1536x1152.jpg 1536w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Sea-Horse.jpg 1926w" sizes="(max-width: 1024px) 100vw, 1024px" /></figure></li><li class="blocks-gallery-item"><figure><img loading="lazy" width="1024" height="768" src="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Sea-Horse-1-1024x768.jpg" alt="" data-id="12143" data-full-url="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Sea-Horse-1.jpg" data-link="https://webcaycanh.com/bang-bao-gia-dich-vu-cham-soc-cay-canh/cham-soc-cay-sea-horse-1/" class="wp-image-12143" srcset="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Sea-Horse-1-1024x768.jpg 1024w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Sea-Horse-1-400x300.jpg 400w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Sea-Horse-1-768x576.jpg 768w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Sea-Horse-1-1536x1152.jpg 1536w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Sea-Horse-1.jpg 1926w" sizes="(max-width: 1024px) 100vw, 1024px" /></figure></li><li class="blocks-gallery-item"><figure><img loading="lazy" width="1024" height="768" src="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Sea-Horse-2-1024x768.jpg" alt="" data-id="12144" data-full-url="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Sea-Horse-2.jpg" data-link="https://webcaycanh.com/bang-bao-gia-dich-vu-cham-soc-cay-canh/cham-soc-cay-sea-horse-2/" class="wp-image-12144" srcset="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Sea-Horse-2-1024x768.jpg 1024w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Sea-Horse-2-400x300.jpg 400w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Sea-Horse-2-768x576.jpg 768w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Sea-Horse-2-1536x1152.jpg 1536w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Sea-Horse-2.jpg 1926w" sizes="(max-width: 1024px) 100vw, 1024px" /></figure></li><li class="blocks-gallery-item"><figure><img loading="lazy" width="1024" height="768" src="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Sea-Horse-3-1024x768.jpg" alt="" data-id="12145" data-full-url="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Sea-Horse-3.jpg" data-link="https://webcaycanh.com/bang-bao-gia-dich-vu-cham-soc-cay-canh/cham-soc-cay-sea-horse-3/" class="wp-image-12145" srcset="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Sea-Horse-3-1024x768.jpg 1024w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Sea-Horse-3-400x300.jpg 400w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Sea-Horse-3-768x576.jpg 768w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Sea-Horse-3-1536x1152.jpg 1536w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Sea-Horse-3.jpg 1926w" sizes="(max-width: 1024px) 100vw, 1024px" /></figure></li><li class="blocks-gallery-item"><figure><img loading="lazy" width="1024" height="768" src="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Sea-Horse-4-1024x768.jpg" alt="" data-id="12146" data-full-url="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Sea-Horse-4.jpg" data-link="https://webcaycanh.com/bang-bao-gia-dich-vu-cham-soc-cay-canh/cham-soc-cay-sea-horse-4/" class="wp-image-12146" srcset="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Sea-Horse-4-1024x768.jpg 1024w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Sea-Horse-4-400x300.jpg 400w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Sea-Horse-4-768x576.jpg 768w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Sea-Horse-4-1536x1152.jpg 1536w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Sea-Horse-4.jpg 1926w" sizes="(max-width: 1024px) 100vw, 1024px" /></figure></li></ul></figure>



                    <p class="has-text-align-center"><strong>Chăm sóc cây cảnh Mastercard</strong></p>



                    <figure class="wp-block-gallery columns-3 is-cropped"><ul class="blocks-gallery-grid"><li class="blocks-gallery-item"><figure><img loading="lazy" width="1024" height="768" src="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard-1024x768.jpg" alt="" data-id="12148" data-full-url="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard.jpg" data-link="https://webcaycanh.com/bang-bao-gia-dich-vu-cham-soc-cay-canh/cham-soc-cay-mastercard/" class="wp-image-12148" srcset="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard-1024x768.jpg 1024w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard-400x300.jpg 400w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard-768x576.jpg 768w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard-1536x1152.jpg 1536w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard.jpg 1926w" sizes="(max-width: 1024px) 100vw, 1024px" /></figure></li><li class="blocks-gallery-item"><figure><img loading="lazy" width="1024" height="768" src="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard-1-1024x768.jpg" alt="" data-id="12149" data-full-url="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard-1.jpg" data-link="https://webcaycanh.com/bang-bao-gia-dich-vu-cham-soc-cay-canh/cham-soc-cay-mastercard-1/" class="wp-image-12149" srcset="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard-1-1024x768.jpg 1024w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard-1-400x300.jpg 400w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard-1-768x576.jpg 768w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard-1-1536x1152.jpg 1536w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard-1.jpg 1926w" sizes="(max-width: 1024px) 100vw, 1024px" /></figure></li><li class="blocks-gallery-item"><figure><img loading="lazy" width="1024" height="768" src="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard-2-1024x768.jpg" alt="" data-id="12150" data-full-url="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard-2.jpg" data-link="https://webcaycanh.com/bang-bao-gia-dich-vu-cham-soc-cay-canh/cham-soc-cay-mastercard-2/" class="wp-image-12150" srcset="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard-2-1024x768.jpg 1024w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard-2-400x300.jpg 400w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard-2-768x576.jpg 768w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard-2-1536x1152.jpg 1536w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard-2.jpg 1926w" sizes="(max-width: 1024px) 100vw, 1024px" /></figure></li><li class="blocks-gallery-item"><figure><img loading="lazy" width="1024" height="768" src="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard-3-1024x768.jpg" alt="" data-id="12151" data-full-url="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard-3.jpg" data-link="https://webcaycanh.com/bang-bao-gia-dich-vu-cham-soc-cay-canh/cham-soc-cay-mastercard-3/" class="wp-image-12151" srcset="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard-3-1024x768.jpg 1024w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard-3-400x300.jpg 400w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard-3-768x576.jpg 768w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard-3-1536x1152.jpg 1536w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard-3.jpg 1926w" sizes="(max-width: 1024px) 100vw, 1024px" /></figure></li><li class="blocks-gallery-item"><figure><img loading="lazy" width="1024" height="768" src="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard-4-1024x768.jpg" alt="" data-id="12152" data-full-url="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard-4.jpg" data-link="https://webcaycanh.com/bang-bao-gia-dich-vu-cham-soc-cay-canh/cham-soc-cay-mastercard-4/" class="wp-image-12152" srcset="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard-4-1024x768.jpg 1024w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard-4-400x300.jpg 400w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard-4-768x576.jpg 768w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard-4-1536x1152.jpg 1536w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard-4.jpg 1926w" sizes="(max-width: 1024px) 100vw, 1024px" /></figure></li><li class="blocks-gallery-item"><figure><img loading="lazy" width="1024" height="768" src="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard-5-1024x768.jpg" alt="" data-id="12153" data-full-url="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard-5.jpg" data-link="https://webcaycanh.com/bang-bao-gia-dich-vu-cham-soc-cay-canh/cham-soc-cay-mastercard-5/" class="wp-image-12153" srcset="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard-5-1024x768.jpg 1024w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard-5-400x300.jpg 400w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard-5-768x576.jpg 768w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard-5-1536x1152.jpg 1536w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard-5.jpg 1926w" sizes="(max-width: 1024px) 100vw, 1024px" /></figure></li><li class="blocks-gallery-item"><figure><img loading="lazy" width="1024" height="768" src="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard-6-1024x768.jpg" alt="" data-id="12154" data-full-url="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard-6.jpg" data-link="https://webcaycanh.com/bang-bao-gia-dich-vu-cham-soc-cay-canh/cham-soc-cay-mastercard-6/" class="wp-image-12154" srcset="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard-6-1024x768.jpg 1024w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard-6-400x300.jpg 400w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard-6-768x576.jpg 768w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard-6-1536x1152.jpg 1536w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard-6.jpg 1926w" sizes="(max-width: 1024px) 100vw, 1024px" /></figure></li><li class="blocks-gallery-item"><figure><img loading="lazy" width="1024" height="768" src="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard-7-1024x768.jpg" alt="" data-id="12155" data-full-url="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard-7.jpg" data-link="https://webcaycanh.com/bang-bao-gia-dich-vu-cham-soc-cay-canh/cham-soc-cay-mastercard-7/" class="wp-image-12155" srcset="https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard-7-1024x768.jpg 1024w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard-7-400x300.jpg 400w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard-7-768x576.jpg 768w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard-7-1536x1152.jpg 1536w, https://webcaycanh.com/wp-content/uploads/2021/03/cham-soc-cay-Mastercard-7.jpg 1926w" sizes="(max-width: 1024px) 100vw, 1024px" /></figure></li></ul></figure>
                </div>



                <div class="clearfix">	</div>







                <div class=" d-flex mt-2">
                    <div class="fb-like" data-href="http://webcaycanh.com/bang-bao-gia-dich-vu-cham-soc-cay-canh/" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="true"></div>
                </div>

                <div class="tit-box cl_xanh6 text-center mt-3">



                    Bài viết liên quan



                </div>



                <div class=" owl-carousel owl-theme owl-2-items">



                    <div>
                        <a href="https://webcaycanh.com/cac-loai-cay-nguyen-lieu-pho-bien-hien-nay/" title="Các loại cây nguyên liệu phổ biến hiện nay" class="img-hover transition">
                            <img src="https://webcaycanh.com/wp-content/uploads/2021/08/cay-bach-xu-350x245.jpg" class="w100 wp-post-image" alt="cây bách xù" loading="lazy" />
                        </a>
                        <a href="https://webcaycanh.com/cac-loai-cay-nguyen-lieu-pho-bien-hien-nay/" title="Các loại cây nguyên liệu phổ biến hiện nay" class=""><h3 class="font18 tit-border-b2 relative cl_xanh6 mb-3 mt-3 pb-2 " style="/*height: 25px; overflow: hidden;*/">Các loại cây nguyên liệu phổ biến hiện nay</h3></a>
                        <div class="text-justify">
                            Nông nghiệp Việt Nam ngày càng phát triển là nơi cung cấp nguyên liệu lớn cho thị trường trong nước lẫn nước ngoài. Chính vì thế, hôm&#8230;
                        </div>
                    </div><div>
                        <a href="https://webcaycanh.com/hoa-cay-kim-tien-nhu-the-nao-cay-ra-hoa-co-y-nghia-gi/" title="Hoa Cây Kim Tiền như thế nào? Cây ra hoa có ý nghĩa gì?" class="img-hover transition">
                            <img src="https://webcaycanh.com/wp-content/uploads/2018/08/hoa-cay-kim-tien-350x245.jpg" class="w100 wp-post-image" alt="Hoa cây kim tiền" loading="lazy" />
                        </a>
                        <a href="https://webcaycanh.com/hoa-cay-kim-tien-nhu-the-nao-cay-ra-hoa-co-y-nghia-gi/" title="Hoa Cây Kim Tiền như thế nào? Cây ra hoa có ý nghĩa gì?" class=""><h3 class="font18 tit-border-b2 relative cl_xanh6 mb-3 mt-3 pb-2 " style="/*height: 25px; overflow: hidden;*/">Hoa Cây Kim Tiền như thế nào? Cây ra hoa có ý nghĩa gì?</h3></a>
                        <div class="text-justify">
                            Cây Kim Tiền là một trong những cây phong thuỷ được ưa chuộng và tìm kiếm nhiều nhất hiện nay, nên có nhiều thắc mắc xung quanh&#8230;
                        </div>
                    </div><div>
                        <a href="https://webcaycanh.com/cay-kim-ngan-bi-thoi-than/" title="Cây Kim Ngân bị thối thân" class="img-hover transition">
                            <img src="https://webcaycanh.com/wp-content/uploads/2021/08/cay-kim-ngan-bi-heo-vang-la-350x245.jpg" class="w100 wp-post-image" alt="" loading="lazy" />
                        </a>
                        <a href="https://webcaycanh.com/cay-kim-ngan-bi-thoi-than/" title="Cây Kim Ngân bị thối thân" class=""><h3 class="font18 tit-border-b2 relative cl_xanh6 mb-3 mt-3 pb-2 " style="/*height: 25px; overflow: hidden;*/">Cây Kim Ngân bị thối thân</h3></a>
                        <div class="text-justify">
                            Một trong những bệnh hay gặp nhất ở cây Kim Ngân đó chính là bệnh thối thân, và nếu bạn khắc phục được tình trạng này thì&#8230;
                        </div>
                    </div><div>
                        <a href="https://webcaycanh.com/khong-lo-cay-chet-neu-ban-hieu-dung-ve-dat/" title="Không lo cây chết nếu bạn hiểu đúng về đất" class="img-hover transition">
                            <img src="https://webcaycanh.com/wp-content/uploads/2021/06/dat-350x245.jpg" class="w100 wp-post-image" alt="dat" loading="lazy" />
                        </a>
                        <a href="https://webcaycanh.com/khong-lo-cay-chet-neu-ban-hieu-dung-ve-dat/" title="Không lo cây chết nếu bạn hiểu đúng về đất" class=""><h3 class="font18 tit-border-b2 relative cl_xanh6 mb-3 mt-3 pb-2 " style="/*height: 25px; overflow: hidden;*/">Không lo cây chết nếu bạn hiểu đúng về đất</h3></a>
                        <div class="text-justify">
                            Đại đa phần cây văn phòng chết chỉ vì 2 nguyên nhân đó là thừa nước và thiếu nước. Vì đôi khi bạn được người bán nhắc&#8230;
                        </div>
                    </div><div>
                        <a href="https://webcaycanh.com/tim-hieu-loai-cay-monstera-dot-bien-co-gia-len-den-ca-ty-dong/" title="Tìm hiểu loài cây Monstera đột biến có giá lên đến cả tỷ đồng" class="img-hover transition">
                            <img src="https://webcaycanh.com/wp-content/uploads/2021/05/monstera-dot-bien-350x245.jpg" class="w100 wp-post-image" alt="monstera đột biến" loading="lazy" />
                        </a>
                        <a href="https://webcaycanh.com/tim-hieu-loai-cay-monstera-dot-bien-co-gia-len-den-ca-ty-dong/" title="Tìm hiểu loài cây Monstera đột biến có giá lên đến cả tỷ đồng" class=""><h3 class="font18 tit-border-b2 relative cl_xanh6 mb-3 mt-3 pb-2 " style="/*height: 25px; overflow: hidden;*/">Tìm hiểu loài cây Monstera đột biến có giá lên đến cả tỷ đồng</h3></a>
                        <div class="text-justify">
                            Gần đây đang rầm rộ thông tin về loài cây Monstera đột biến có giá lên đến cả tỷ đồng một cây, khiến nhiều người dân thắc&#8230;
                        </div>
                    </div><div>
                        <a href="https://webcaycanh.com/su-that-ve-doc-cua-cay-kim-tien/" title="Sự thật về độc của cây Kim Tiền" class="img-hover transition">
                            <img src="https://webcaycanh.com/wp-content/uploads/2021/01/cay-kim-tien-co-doc.jpg" class="w100 wp-post-image" alt="cay-kim-tien-co-doc" loading="lazy" />
                        </a>
                        <a href="https://webcaycanh.com/su-that-ve-doc-cua-cay-kim-tien/" title="Sự thật về độc của cây Kim Tiền" class=""><h3 class="font18 tit-border-b2 relative cl_xanh6 mb-3 mt-3 pb-2 " style="/*height: 25px; overflow: hidden;*/">Sự thật về độc của cây Kim Tiền</h3></a>
                        <div class="text-justify">
                            Có lẽ rất nhiều người đã nghe hoặc đọc được ở đâu đó cây Kim Tiền có độc, thậm chí là rất độc, nhưng vì tác dụng&#8230;
                        </div>
                    </div>


                </div>





            </div>



            <!-- sidebar -->
            <div class="col-sm-3" id="sidebar">
                <div id="nav_menu-3" class="widget_nav_menu sidebar-widget mb-4">
                    <div class="sb-tit bg_xanh6 cl_white text-uppercase text-center py-3">Danh mục cây cảnh</div><ul id="menu-danh-muc-san-pham" class="menu">
                        @foreach (var item in ViewBag.categories)
                        {
                            <li class="menu-item menu-item-type-taxonomy menu-item-object-tax_cay current-cay-ancestor current-menu-parent current-cay-parent menu-item-6138"><a href="/Client/DetailCategory?id=@item.id">@item.name</a></li>
                        }

                    </ul>
                </div><div id="custom_html-3" class="widget_text widget_custom_html sidebar-widget mb-4"><div class="sb-tit bg_xanh6 cl_white text-uppercase text-center py-3">Công Ty Web Cây Cảnh</div><div class="textwidget custom-html-widget"><a href="https://webcaycanh.com/wp-content/uploads/2019/06/cty-cay-canh.jpg"><img class="alignnone size-full wp-image-9294" src="https://webcaycanh.com/wp-content/uploads/2019/06/cty-cay-canh.jpg" alt="cty-cay-canh" /></a></div></div><div id="id_post_by_tax-2" class="Get_Post_By_Taxonomy sidebar-widget mb-4">
                    <div class="sb-tit bg_xanh6 cl_white text-uppercase text-center py-3">Cây cảnh mới nhất</div><div class="sb-in-box">
                        @foreach (var item in ViewBag.productTop8)
                        {
                            <a class="mb-4 w100" href="/Client/detail?id=@item.id" title="@item.title">
                                <div class="col-4 no-padding float-left">
                                    <img src="~/UploadFile/productImage/@item.avatar" class="img-thumbnail w100 wp-post-image" alt="@item.title" loading="lazy" srcset="~/UploadFile/productImage/@item.avatar 83w, ~/UploadFile/productImage/@item.avatar 400w, ~/UploadFile/productImage/@item.avatar 150w, ~/UploadFile/productImage/@item.avatar 768w, ~/UploadFile/productImage/@item.avatar 255w, ~/UploadFile/productImage/@item.avatar 800w" sizes="(max-width: 83px) 100vw, 83px" />
                                </div>
                                <div class="col-8 no-padding pl-2 float-left">
                                    <h4 class="font14 bold" style="line-height: 22px;">@item.title</h4>
                                    <span class="price font18 text-danger w100">@item.price <ins>₫</ins></span>
                                </div>
                            </a>
                        }


                    </div>
                </div><div id="id_post_by_tax-3" class="Get_Post_By_Taxonomy sidebar-widget mb-4">
                    <div class="sb-tit bg_xanh6 cl_white text-uppercase text-center py-3">Cây Cảnh Ưa Thích</div><div class="sb-in-box">
                        @foreach (var item in ViewBag.productTop8)
                        {
                            <a class="mb-4 w100" href="/Client/detail?id=@item.id" title="@item.title">
                                <div class="col-4 no-padding float-left">
                                    <img src="~/UploadFile/productImage/@item.avatar" class="img-thumbnail w100 wp-post-image" alt="cây monstera delicisosa" loading="lazy" srcset="~/UploadFile/productImage/@item.avatar 83w, ~/UploadFile/productImage/@item.avatar 400w, ~/UploadFile/productImage/@item.avatar 1024w, ~/UploadFile/productImage/@item.avatar 150w, ~/UploadFile/productImage/@item.avatar 768w, ~/UploadFile/productImage/@item.avatar 1536w, ~/UploadFile/productImage/@item.avatar 255w, ~/UploadFile/productImage/@item.avatar 1642w" sizes="(max-width: 83px) 100vw, 83px" />
                                </div>
                                <div class="col-8 no-padding pl-2 float-left">
                                    <h4 class="font14 bold" style="line-height: 22px;">Cây Monstera</h4>
                                    <span class="price font18 text-danger w100">310.000 <ins>₫</ins></span>
                                </div>
                            </a>
                        }

                    </div>
                </div>
            </div> <!-- /#sidebar -->


        </div>



	</div>



</section>

