
@{
    ViewBag.Title = "Introduce";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<section class="detail-news">
        <div class="container">
            <div class="row">
                <div class="col-12 my-4 text-uppercase font13 cl_nau"
                     id="breadcrumbs">
                    <span>
                        <span>
                            <a href="https://webcaycanh.com/">Trang chủ</a>
                            <i class="fa fa-angle-right"></i>
                            <span class="breadcrumb_last" aria-current="page">Giới thiệu</span>
                        </span>
                    </span>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-9" id="left-panel">
                    <div class="w100">
                        <h1 class="tit-h1 marb20 padb20 font30 UTMHelvetIns cl_xanh6">
                            Giới thiệu
                        </h1>
                    </div>
                    <div class="content-news" id="pills-des">
                        <p>
                            Công ty TNHH Webcaycanh được thành lập vào ngày 10 tháng 10
                            năm 2015, với sứ mệnh mang đến không gian xanh cho mọi người,
                            chia sẻ kinh nghiệm và kiến thức chăm sóc cây cảnh. Đến với
                            Web Cây Cảnh không đơn giản chỉ là mua cây, mà chúng tôi còn
                            hướng dẫn quý khách hàng cách chăm sóc, cách khắc phục khi cây
                            gặp phải vấn đề không tốt, cây cảnh mua tại cửa hàng đều được
                            bảo hành 7 ngày đến 30 ngày tùy vào cây to hay nhỏ, để đảm bảo
                            sản phẩm hoàn toàn là chất lượng không bị ủ bệnh trước khi
                            mua.
                        </p>
                        <p>
                            Ngoài ra nếu quý khách không mua cây tại cửa hàng, mà mua ở
                            bất kỳ đâu khi gặp vấn đề hãy cứ liên hệ với chúng tôi, chúng
                            tôi sẵn sàng tư vấn miễn phí và nhiệt tình, để cây có thể tốt
                            trở lại.
                        </p>
                        <h2>Về Web Cây Cảnh</h2>
                        <p>&#8211; Đứng đầu lĩnh vực Online về thị trường cây cảnh.</p>
                        <p>
                            &#8211; Đơn vị cây cảnh đầu tiên có cơ sở tại 2 thành phố lớn
                            Hà Nội và Hồ Chí Minh.
                        </p>
                        <p>&#8211; Bảo hành sau khi mua cây.</p>
                        <p>&#8211; Tư vấn chuyên nghiệp.</p>
                        <p>&#8211; Hỗ trợ giải đáp thắc mắc, chăm sóc trọn đời.</p>
                        <h2>Web Cây Cảnh làm những gì?</h2>
                        <p>Công ty TNHH Webcaycanh làm 3 hạng mục chính:</p>
                        <p>
                            &#8211;
                            <a href="https://webcaycanh.com/cay-canh/"
                               target="_blank"
                               rel="noopener">Bán Cây Cảnh</a>
                            để bàn, văn phòng, nội thất, phong thủy&#8230;
                        </p>
                        <p>&#8211; Chăm sóc cây cho văn phòng, tòa nhà, tại nhà.</p>
                        <p>&#8211; Thiết kế và tư vấn bố trí cây xanh.</p>
                        <p>
                            Trong thời gian hoạt động và làm việc chúng tôi đã bán và hỗ
                            trợ chăm sóc rất nhiều cây cảnh, cũng đã làm nhiều dự án lớn
                            cho các đối tác như: Viettel, Mobifone, Ivy, Vietjet, Euro
                            Window, khách sạn 4* Sky, quán cafe&#8230;
                        </p>
                        <p>Một số hình ảnh dự án:</p>
                        <p style="text-align: center">
                            <a href="https://webcaycanh.com/wp-content/uploads/2018/08/du-an-cay-canh-viettel.jpg">
                                <img loading="lazy"
                                     width="400"
                                     height="300"
                                     class="alignnone size-medium wp-image-6470"
                                     src="https://webcaycanh.com/wp-content/uploads/2018/08/du-an-cay-canh-viettel-400x300.jpg"
                                     alt="du-an-cay-canh-viettel"
                                     srcset="
                        https://webcaycanh.com/wp-content/uploads/2018/08/du-an-cay-canh-viettel-400x300.jpg 400w,
                        https://webcaycanh.com/wp-content/uploads/2018/08/du-an-cay-canh-viettel.jpg         720w
                      "
                                     sizes="(max-width: 400px) 100vw, 400px" />
                            </a>
                        </p>
                        <p style="text-align: center">
                            <em>Dự án 6200 cây làm quà tặng cho Viettel</em>
                        </p>
                        <p style="text-align: center">
                            <a href="https://webcaycanh.com/wp-content/uploads/2018/08/du-an-khach-san.jpg">
                                <img loading="lazy"
                                     width="400"
                                     height="300"
                                     class="alignnone size-medium wp-image-6471"
                                     src="https://webcaycanh.com/wp-content/uploads/2018/08/du-an-khach-san-400x300.jpg"
                                     alt="du-an-khach-san"
                                     srcset="
                        https://webcaycanh.com/wp-content/uploads/2018/08/du-an-khach-san-400x300.jpg   400w,
                        https://webcaycanh.com/wp-content/uploads/2018/08/du-an-khach-san-768x576.jpg   768w,
                        https://webcaycanh.com/wp-content/uploads/2018/08/du-an-khach-san-1024x768.jpg 1024w,
                        https://webcaycanh.com/wp-content/uploads/2018/08/du-an-khach-san.jpg          1200w
                      "
                                     sizes="(max-width: 400px) 100vw, 400px" />
                            </a>
                        </p>
                        <p style="text-align: center">
                            <em>Dự án setup cây cảnh cho khách sạn 4*</em>
                        </p>
                        <p style="text-align: center">
                            <a href="https://webcaycanh.com/wp-content/uploads/2018/08/du-an-cafe.jpg">
                                <img loading="lazy"
                                     width="400"
                                     height="400"
                                     class="alignnone size-medium wp-image-6472"
                                     src="https://webcaycanh.com/wp-content/uploads/2018/08/du-an-cafe-400x400.jpg"
                                     alt="du-an-cafe"
                                     srcset="
                        https://webcaycanh.com/wp-content/uploads/2018/08/du-an-cafe-400x400.jpg 400w,
                        https://webcaycanh.com/wp-content/uploads/2018/08/du-an-cafe-150x150.jpg 150w,
                        https://webcaycanh.com/wp-content/uploads/2018/08/du-an-cafe-768x768.jpg 768w,
                        https://webcaycanh.com/wp-content/uploads/2018/08/du-an-cafe-255x255.jpg 255w,
                        https://webcaycanh.com/wp-content/uploads/2018/08/du-an-cafe-83x83.jpg    83w,
                        https://webcaycanh.com/wp-content/uploads/2018/08/du-an-cafe.jpg         900w
                      "
                                     sizes="(max-width: 400px) 100vw, 400px" />
                            </a>
                        </p>
                        <p style="text-align: center">
                            <em>Setup cây cảnh cho quán cafe</em>
                        </p>
                        <p>
                            <a href="https://webcaycanh.com/wp-content/uploads/2018/08/setup-cay-cho-nha-biet-thu.jpg">
                                <img loading="lazy"
                                     class="wp-image-11636 size-medium aligncenter"
                                     src="https://webcaycanh.com/wp-content/uploads/2018/08/setup-cay-cho-nha-biet-thu-400x308.jpg"
                                     alt="Thiết kế và trồng cây cho nhà biệt thự"
                                     width="400"
                                     height="308"
                                     srcset="
                        https://webcaycanh.com/wp-content/uploads/2018/08/setup-cay-cho-nha-biet-thu-400x308.jpg  400w,
                        https://webcaycanh.com/wp-content/uploads/2018/08/setup-cay-cho-nha-biet-thu-768x591.jpg  768w,
                        https://webcaycanh.com/wp-content/uploads/2018/08/setup-cay-cho-nha-biet-thu.jpg         1000w
                      "
                                     sizes="(max-width: 400px) 100vw, 400px" />
                            </a>
                        </p>
                        <p style="text-align: center">
                            <em>Thiết kế và trồng cây cho nhà biệt thự</em>
                        </p>
                        <p style="text-align: center">
                            <a href="https://webcaycanh.com/wp-content/uploads/2018/08/setup-cay-cho-van-phong.jpg">
                                <img loading="lazy"
                                     width="400"
                                     height="308"
                                     class="alignnone size-medium wp-image-11637"
                                     src="https://webcaycanh.com/wp-content/uploads/2018/08/setup-cay-cho-van-phong-400x308.jpg"
                                     alt="Setup cây cho văn phòng"
                                     srcset="
                        https://webcaycanh.com/wp-content/uploads/2018/08/setup-cay-cho-van-phong-400x308.jpg  400w,
                        https://webcaycanh.com/wp-content/uploads/2018/08/setup-cay-cho-van-phong-768x591.jpg  768w,
                        https://webcaycanh.com/wp-content/uploads/2018/08/setup-cay-cho-van-phong.jpg         1000w
                      "
                                     sizes="(max-width: 400px) 100vw, 400px" />
                            </a>
                        </p>
                        <p style="text-align: center">
                            <em>Setup cây cho văn phòng</em>
                        </p>
                        <p style="text-align: center">
                            <a href="https://webcaycanh.com/wp-content/uploads/2018/08/trong-cay-cho-nha-hang.jpg">
                                <img loading="lazy"
                                     class="alignnone wp-image-11639"
                                     src="https://webcaycanh.com/wp-content/uploads/2018/08/trong-cay-cho-nha-hang-771x1024.jpg"
                                     alt="trồng cây cho nhà hàng"
                                     width="400"
                                     height="531"
                                     srcset="
                        https://webcaycanh.com/wp-content/uploads/2018/08/trong-cay-cho-nha-hang-771x1024.jpg  771w,
                        https://webcaycanh.com/wp-content/uploads/2018/08/trong-cay-cho-nha-hang-301x400.jpg   301w,
                        https://webcaycanh.com/wp-content/uploads/2018/08/trong-cay-cho-nha-hang-768x1020.jpg  768w,
                        https://webcaycanh.com/wp-content/uploads/2018/08/trong-cay-cho-nha-hang.jpg          1004w
                      "
                                     sizes="(max-width: 400px) 100vw, 400px" />
                            </a>
                        </p>
                        <p style="text-align: center"></p>
                        <p style="text-align: center">
                            <em>Trồng cây cho nhà hàng</em>
                        </p>
                        <p style="text-align: center">
                            <a href="https://webcaycanh.com/wp-content/uploads/2018/08/trong-cay-cho-biet-thu-vinhome-greebay.jpg">
                                <img loading="lazy"
                                     width="386"
                                     height="400"
                                     class="alignnone size-medium wp-image-11641"
                                     src="https://webcaycanh.com/wp-content/uploads/2018/08/trong-cay-cho-biet-thu-vinhome-greebay-386x400.jpg"
                                     alt="trồng cây cho biệt thự vinhome greebay"
                                     srcset="
                        https://webcaycanh.com/wp-content/uploads/2018/08/trong-cay-cho-biet-thu-vinhome-greebay-386x400.jpg   386w,
                        https://webcaycanh.com/wp-content/uploads/2018/08/trong-cay-cho-biet-thu-vinhome-greebay-768x796.jpg   768w,
                        https://webcaycanh.com/wp-content/uploads/2018/08/trong-cay-cho-biet-thu-vinhome-greebay-989x1024.jpg  989w,
                        https://webcaycanh.com/wp-content/uploads/2018/08/trong-cay-cho-biet-thu-vinhome-greebay.jpg          1004w
                      "
                                     sizes="(max-width: 386px) 100vw, 386px" />
                            </a>
                        </p>
                        <p style="text-align: center">
                            <em>Trồng cây cho bên biệt thự vinhome greebay</em>
                        </p>
                    </div>
                </div>
                <!-- sidebar -->
                <div class="col-sm-3" id="sidebar">
                    <div id="nav_menu-3" class="widget_nav_menu sidebar-widget mb-4">
                        <div class="sb-tit bg_xanh6 cl_white text-uppercase text-center py-3">Danh mục cây cảnh</div><ul id="menu-danh-muc-san-pham" class="menu">
                            @foreach (var item in ViewBag.categories)
                            {
                                <li class="menu-item menu-item-type-taxonomy menu-item-object-tax_cay current-cay-ancestor current-menu-parent current-cay-parent menu-item-6138"><a href="/Client/DetailCategory?id=@item.id">@item.name</a></li>
                            }

                        </ul>
                    </div><div id="custom_html-3" class="widget_text widget_custom_html sidebar-widget mb-4"><div class="sb-tit bg_xanh6 cl_white text-uppercase text-center py-3">Công Ty Web Cây Cảnh</div><div class="textwidget custom-html-widget"><a href="https://webcaycanh.com/wp-content/uploads/2019/06/cty-cay-canh.jpg"><img class="alignnone size-full wp-image-9294" src="https://webcaycanh.com/wp-content/uploads/2019/06/cty-cay-canh.jpg" alt="cty-cay-canh" /></a></div></div><div id="id_post_by_tax-2" class="Get_Post_By_Taxonomy sidebar-widget mb-4">
                        <div class="sb-tit bg_xanh6 cl_white text-uppercase text-center py-3">Cây cảnh mới nhất</div><div class="sb-in-box">
                            @foreach (var item in ViewBag.productTop8)
                            {
                                <a class="mb-4 w100" href="/Client/detail?id=@item.id" title="@item.title">
                                    <div class="col-4 no-padding float-left">
                                        <img src="~/UploadFile/productImage/@item.avatar" class="img-thumbnail w100 wp-post-image" alt="@item.title" loading="lazy" srcset="~/UploadFile/productImage/@item.avatar 83w, ~/UploadFile/productImage/@item.avatar 400w, ~/UploadFile/productImage/@item.avatar 150w, ~/UploadFile/productImage/@item.avatar 768w, ~/UploadFile/productImage/@item.avatar 255w, ~/UploadFile/productImage/@item.avatar 800w" sizes="(max-width: 83px) 100vw, 83px" />
                                    </div>
                                    <div class="col-8 no-padding pl-2 float-left">
                                        <h4 class="font14 bold" style="line-height: 22px;">@item.title</h4>
                                        <span class="price font18 text-danger w100">@item.price <ins>₫</ins></span>
                                    </div>
                                </a>
                            }


                        </div>
                    </div><div id="id_post_by_tax-3" class="Get_Post_By_Taxonomy sidebar-widget mb-4">
                        <div class="sb-tit bg_xanh6 cl_white text-uppercase text-center py-3">Cây Cảnh Ưa Thích</div><div class="sb-in-box">
                            @foreach (var item in ViewBag.productTop8)
                            {
                                <a class="mb-4 w100" href="/Client/detail?id=@item.id" title="@item.title">
                                    <div class="col-4 no-padding float-left">
                                        <img src="~/UploadFile/productImage/@item.avatar" class="img-thumbnail w100 wp-post-image" alt="cây monstera delicisosa" loading="lazy" srcset="~/UploadFile/productImage/@item.avatar 83w, ~/UploadFile/productImage/@item.avatar 400w, ~/UploadFile/productImage/@item.avatar 1024w, ~/UploadFile/productImage/@item.avatar 150w, ~/UploadFile/productImage/@item.avatar 768w, ~/UploadFile/productImage/@item.avatar 1536w, ~/UploadFile/productImage/@item.avatar 255w, ~/UploadFile/productImage/@item.avatar 1642w" sizes="(max-width: 83px) 100vw, 83px" />
                                    </div>
                                    <div class="col-8 no-padding pl-2 float-left">
                                        <h4 class="font14 bold" style="line-height: 22px;">Cây Monstera</h4>
                                        <span class="price font18 text-danger w100">310.000 <ins>₫</ins></span>
                                    </div>
                                </a>
                            }

                        </div>
                    </div>
                </div> <!-- /#sidebar -->
            </div>
        </div>
      </section>

