
@{
    ViewBag.Title = "AquaticCare";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<style>
    .content-news h2 {
        font-size: 22px;
        font-weight: bold;
    }

    .content-news h3 {
        font-size: 18px;
        font-weight: bold;
    }
</style>

<section class="detail-news">
        <div class="container">
            <div class="row">
                <div class="col-12 my-4 text-uppercase font13 cl_nau"
                     id="breadcrumbs">
                    <span>
                        <span>
                            <a href="https://webcaycanh.com/">Trang chủ</a>
                            <i class="fa fa-angle-right"></i>
                            <span class="breadcrumb_last" aria-current="page">Cách chăm sóc cây cảnh văn phòng</span>
                        </span>
                    </span>
                </div>

                <div class="clearfix"></div>

                <div class="col-sm-9 a_cl_xanh" id="left-panel">
                    <div class="w100">
                        <h1 class="
                    tit-h1
                    text-center
                    marb20
                    padb20
                    font30
                    UTMHelvetIns
                    cl_xanh6
                  ">
                            Cách chăm sóc cây cảnh văn phòng
                        </h1>
                    </div>

                    <div class="content-news" id="pills-des">
                        <p style="text-align: justify">
                            Một trong những điều được nhiều người quan tâm nhất sau khi đã
                            sở hữu cây cảnh văn phòng,
                            <a href="https://webcaycanh.com/cay-canh-phong-thuy/"
                               target="_blank"
                               rel="noopener">cây phong thủy</a>
                            hay cây để bàn làm việc đó chính là cách chăm sóc. Vậy chăm
                            sóc cây cảnh văn phòng như thế nào? Để cho cây phát triển tốt,
                            lá luôn xanh và tươi, những sai lầm thường hay mắc phải khiến
                            cây chết là gì? Nếu bạn đang quan tâm những điều đó thì hãy
                            theo dõi bài viết dưới đây.
                        </p>
                        <p style="text-align: justify">
                            <a href="https://webcaycanh.com/wp-content/uploads/2015/09/banner-cay-canh-van-phong-1.jpg">
                                <img loading="lazy"
                                     class="aligncenter wp-image-4086 size-medium"
                                     src="https://webcaycanh.com/wp-content/uploads/2015/09/banner-cay-canh-van-phong-1-400x145.jpg"
                                     alt="banner-cay-canh-van-phong"
                                     width="400"
                                     height="145"
                                     srcset="
                        https://webcaycanh.com/wp-content/uploads/2015/09/banner-cay-canh-van-phong-1-400x145.jpg 400w,
                        https://webcaycanh.com/wp-content/uploads/2015/09/banner-cay-canh-van-phong-1-768x279.jpg 768w,
                        https://webcaycanh.com/wp-content/uploads/2015/09/banner-cay-canh-van-phong-1-300x109.jpg 300w,
                        https://webcaycanh.com/wp-content/uploads/2015/09/banner-cay-canh-van-phong-1.jpg         880w
                      "
                                     sizes="(max-width: 400px) 100vw, 400px" />
                            </a>
                        </p>
                        <div id="toc_container" class="no_bullets">
                            <p class="toc_title">Mục Lục</p>
                            <ul class="toc_list">
                                <li>
                                    <a href="#Cach_cham_soc_cay_canh_van_phong">
                                        <span class="toc_number toc_depth_1">1</span> Cách chăm
                                        sóc cây cảnh văn phòng
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="#Tuoi_nuoc">
                                                <span class="toc_number toc_depth_2">1.1</span>
                                                Tưới nước
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#Dat">
                                                <span class="toc_number toc_depth_2">1.2</span>
                                                Đất
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#Anh_sang">
                                                <span class="toc_number toc_depth_2">1.3</span> Ánh
                                                sáng
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#Vi_tridat_cay">
                                                <span class="toc_number toc_depth_2">1.4</span> Vị
                                                trí đặt cây
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#Nhung_sai_lam_thuong_mac_khi_cham_cay_canh_van_phong">
                                        <span class="toc_number toc_depth_1">2</span> Những sai
                                        lầm thường mắc khi chăm cây cảnh văn phòng
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <h2 style="text-align: justify">
                            <span id="Cach_cham_soc_cay_canh_van_phong">
                                <a href="https://webcaycanh.com/cach-cham-soc-cay-canh-van-phong/">Cách chăm sóc cây cảnh văn phòng</a>
                            </span>
                        </h2>
                        <p>
                            <a href="https://webcaycanh.com/cay-canh-van-phong/"
                               target="_blank"
                               rel="noopener">Cây cảnh văn phòng</a>
                            là loại cây cảnh rất dễ chăm sóc và có ý nghĩa phong thủy như
                            mang đến tài lộc, may mắn, sự thịnh vượng, sức khỏe, sự bảo
                            vệ&#8230;Một số cây thường được lựa chọn như: Cây Kim Tiền,
                            cây Kim Ngân, Lưỡi Hổ, Thiết Mộc Lan&#8230;Đều là những cây có
                            khả năng sống ở môi trường thiếu sáng và ưa râm mát.
                        </p>
                        <h3><span id="Tuoi_nuoc">Tưới nước</span></h3>
                        <p style="text-align: justify">
                            Thường nếu để cây ở ngoài trời có nắng và gió thì ngày nào bạn
                            tưới nước cũng được, mỗi ngày tưới qua cho cây để thứ nhất là
                            rửa sạch bụi trên lá giúp cây dễ quang hợp hơn, thông thoáng
                            hơn, và thường tưới và buổi sáng sớm hoặc chiều tối, tránh
                            tưới buổi trưa nắng nóng dễ làm cây sốc nhiệt mà chết. Nhưng
                            thường cây được để ở môi trường văn phòng, có máy lạnh, hoặc
                            trong nhà ít nắng, thiếu gió nên nước có tốc độ bay hơi thấp,
                            đất giữ ẩm lâu. Vì vậy bạn chỉ nên tưới nước 1 tuần/ 2 lần mỗi
                            lần đủ ẩm 1/2 đất là được. Chỉ nên tưới ở gốc còn lá nếu bẩn
                            thì nên dùng khăn ướt lau.
                        </p>
                        <p style="text-align: justify">
                            <a href="https://webcaycanh.com/wp-content/uploads/2017/07/cay-canh-van-phong-1.jpg">
                                <img loading="lazy"
                                     class="aligncenter wp-image-5304 size-medium"
                                     src="https://webcaycanh.com/wp-content/uploads/2017/07/cay-canh-van-phong-1-400x264.jpg"
                                     alt="cham-soc-cay-canh-van-phong"
                                     width="400"
                                     height="264"
                                     srcset="
                        https://webcaycanh.com/wp-content/uploads/2017/07/cay-canh-van-phong-1-400x264.jpg 400w,
                        https://webcaycanh.com/wp-content/uploads/2017/07/cay-canh-van-phong-1-300x198.jpg 300w,
                        https://webcaycanh.com/wp-content/uploads/2017/07/cay-canh-van-phong-1.jpg         650w
                      "
                                     sizes="(max-width: 400px) 100vw, 400px" />
                            </a>
                        </p>
                        <h3 style="text-align: justify"><span id="Dat">Đất</span></h3>
                        <p style="text-align: justify">
                            Loại đất trồng sẵn ở cây thường đã là loại đất tốt có nhiều
                            mùn đảm bảo cho cây phát triển tốt trong vòng 3 &#8211; 6
                            tháng. Nếu trồng lâu thấy hiện tượng vàng lá do thiếu chất bạn
                            có thể bổ sung đất, mùn, thay đất cho cây hoặc các đơn giản là
                            mua đạm, phân bón tan chậm rắc nên gốc cây là được.
                        </p>
                        <h3><span id="Anh_sang">Ánh sáng</span></h3>
                        <p style="text-align: justify">
                            Sống được trong môi trường thiếu sáng nhưng màu sắc của lá sẽ
                            bớt đậm và xanh tươi, vì thế cuối tuần bạn nên để cây ra ngoài
                            hiên để cây có thể tiếp xúc trực tiếp với nắng gió ngoài trời,
                            còn không tốt nhất hay để cây gần cửa sổ nơi có ánh sáng chiếu
                            qua.
                        </p>
                        <h3><span id="Vi_tridat_cay">Vị trí đặt cây</span></h3>
                        <p>
                            Vị trí đặt cây là rất quan trọng ảnh hưởng lớn đến sự phát
                            triển và sống của cây văn phòng, cây trong nhà. Vị trí đặt cây
                            tốt nhất là nơi thoáng mát có ánh nắng nhẹ. Nếu bạn thấy cây
                            phải buộc đặt nơi khuất, tối tăm, ít thoáng thì bạn nên làm
                            theo cách sau:
                        </p>
                        <p style="text-align: center">
                            <a href="https://webcaycanh.com/wp-content/uploads/2017/07/de-cay-o-noi-thoang-anh-nang-nhe.jpg">
                                <img loading="lazy"
                                     width="400"
                                     height="300"
                                     class="alignnone size-medium wp-image-9164"
                                     src="https://webcaycanh.com/wp-content/uploads/2017/07/de-cay-o-noi-thoang-anh-nang-nhe-400x300.jpg"
                                     alt=""
                                     srcset="
                        https://webcaycanh.com/wp-content/uploads/2017/07/de-cay-o-noi-thoang-anh-nang-nhe-400x300.jpg 400w,
                        https://webcaycanh.com/wp-content/uploads/2017/07/de-cay-o-noi-thoang-anh-nang-nhe.jpg         650w
                      "
                                     sizes="(max-width: 400px) 100vw, 400px" />
                            </a>
                        </p>
                        <p style="text-align: center">
                            <em>
                                Nên để cây ở nơi thoáng có ánh nắng nhẹ hoặc dưới ánh
                                điện
                            </em>
                        </p>
                        <p>
                            * <strong>Thời điểm đầu nên luân chuyển cây</strong>: Khi bạn
                            chuyển cây từ vườn, nơi bán cây cảnh thì môi trường thường
                            đang là môi trường thích hợp cho cây, khi mang về văn phòng,
                            nhà thì điều kiện thay đổi, có cây thì vẫn sống tốt, có cây
                            thì sẽ bị xấu đi, để giảm khả năng cây bị xấu thì bạn nên mang
                            cây ra chỗ thoáng mát. Như vị trí ở ban công, hiên nhà, rồi
                            lại mang vào nơi bạn muốn để. Ban đầu có thể thời gian bạn để
                            bên ngoài nhiều hơn trong nhà, rồi sau đó giảm dần, và khi bạn
                            thấy cây có dấu hiệu phát triển tốt, và thời gian đủ lâu thì
                            lúc đó có thể để cây ở vị trí như mong muốn không cần thay
                            đổi.
                        </p>
                        <h2 style="text-align: justify">
                            <span id="Nhung_sai_lam_thuong_mac_khi_cham_cay_canh_van_phong">Những sai lầm thường mắc khi chăm cây cảnh văn phòng</span>
                        </h2>
                        <p>
                            &#8211; Một trong nhưng sai lầm nhiều người mắc nhất đó là
                            <strong>ngày nào cũng tưới nước</strong>. Nếu bạn sợ tưới quá
                            tay thì bạn có thể kê chậu cách đất, không bịt lỗ thoát nước
                            dưới đáy chậu để đảm bảo nước có thể chảy ra ngoài nếu tưới
                            nhiều.
                        </p>
                        <p style="text-align: justify">
                            &#8211; <strong>Quên không tưới nước</strong>, khi cây có hiện
                            tượng mềm lá, lá rủ xuống là lúc cây đang thiếu nước, bạn chỉ
                            cần tưới nước hoặc ngâm cây vào trong bồn nước khoảng 1 phút
                            thì cây sẽ lại tươi, tình trạng này hay xảy ra đối với cây để
                            bàn vì lượng đất ít, đất không giữ được nước
                        </p>
                        <p style="text-align: justify">
                            &#8211; Thay đổi đột ngột nhiệt độ, ví dụ bạn đang để cây ở
                            môi trường máy lạnh có nhiệt độ tầm 20 độ rồi giữa trưa nhiệt
                            bên ngoài trên 30 độ hoặc gần 40 độ, bạn mang cây ra ngoài để
                            phơi nắng như vậy cây rất dễ bị sốc nhiệt mà chết.
                        </p>
                    </div>

                    <div class="clearfix"></div>

                    <div class="d-flex mt-2">
                        <div class="fb-like"
                             data-href="http://webcaycanh.com/cach-cham-soc-cay-canh-van-phong/"
                             data-width=""
                             data-layout="button_count"
                             data-action="like"
                             data-size="small"
                             data-share="true"></div>
                    </div>

                    <div class="tit-box cl_xanh6 text-center mt-3">
                        Bài viết liên quan
                    </div>

                    <div class="owl-carousel owl-theme owl-2-items">
                        <div>
                            <a href="https://webcaycanh.com/cac-loai-cay-nguyen-lieu-pho-bien-hien-nay/"
                               title="Các loại cây nguyên liệu phổ biến hiện nay"
                               class="img-hover transition">
                                <img src="https://webcaycanh.com/wp-content/uploads/2021/08/cay-bach-xu-350x245.jpg"
                                     class="w100 wp-post-image"
                                     alt="cây bách xù"
                                     loading="lazy" />
                            </a>
                            <a href="https://webcaycanh.com/cac-loai-cay-nguyen-lieu-pho-bien-hien-nay/"
                               title="Các loại cây nguyên liệu phổ biến hiện nay"
                               class="">
                                <h3 class="
                        font18
                        tit-border-b2
                        relative
                        cl_xanh6
                        mb-3
                        mt-3
                        pb-2
                      "
                                    style="/*height: 25px; overflow: hidden;*/">
                                    Các loại cây nguyên liệu phổ biến hiện nay
                                </h3>
                            </a>
                            <div class="text-justify">
                                Nông nghiệp Việt Nam ngày càng phát triển là nơi cung cấp
                                nguyên liệu lớn cho thị trường trong nước lẫn nước ngoài.
                                Chính vì thế, hôm&#8230;
                            </div>
                        </div>
                        <div>
                            <a href="https://webcaycanh.com/hoa-cay-kim-tien-nhu-the-nao-cay-ra-hoa-co-y-nghia-gi/"
                               title="Hoa Cây Kim Tiền như thế nào? Cây ra hoa có ý nghĩa gì?"
                               class="img-hover transition">
                                <img src="https://webcaycanh.com/wp-content/uploads/2018/08/hoa-cay-kim-tien-350x245.jpg"
                                     class="w100 wp-post-image"
                                     alt="Hoa cây kim tiền"
                                     loading="lazy" />
                            </a>
                            <a href="https://webcaycanh.com/hoa-cay-kim-tien-nhu-the-nao-cay-ra-hoa-co-y-nghia-gi/"
                               title="Hoa Cây Kim Tiền như thế nào? Cây ra hoa có ý nghĩa gì?"
                               class="">
                                <h3 class="
                        font18
                        tit-border-b2
                        relative
                        cl_xanh6
                        mb-3
                        mt-3
                        pb-2
                      "
                                    style="/*height: 25px; overflow: hidden;*/">
                                    Hoa Cây Kim Tiền như thế nào? Cây ra hoa có ý nghĩa gì?
                                </h3>
                            </a>
                            <div class="text-justify">
                                Cây Kim Tiền là một trong những cây phong thuỷ được ưa
                                chuộng và tìm kiếm nhiều nhất hiện nay, nên có nhiều thắc
                                mắc xung quanh&#8230;
                            </div>
                        </div>
                        <div>
                            <a href="https://webcaycanh.com/cay-kim-ngan-bi-thoi-than/"
                               title="Cây Kim Ngân bị thối thân"
                               class="img-hover transition">
                                <img src="https://webcaycanh.com/wp-content/uploads/2021/08/cay-kim-ngan-bi-heo-vang-la-350x245.jpg"
                                     class="w100 wp-post-image"
                                     alt=""
                                     loading="lazy" />
                            </a>
                            <a href="https://webcaycanh.com/cay-kim-ngan-bi-thoi-than/"
                               title="Cây Kim Ngân bị thối thân"
                               class="">
                                <h3 class="
                        font18
                        tit-border-b2
                        relative
                        cl_xanh6
                        mb-3
                        mt-3
                        pb-2
                      "
                                    style="/*height: 25px; overflow: hidden;*/">
                                    Cây Kim Ngân bị thối thân
                                </h3>
                            </a>
                            <div class="text-justify">
                                Một trong những bệnh hay gặp nhất ở cây Kim Ngân đó chính là
                                bệnh thối thân, và nếu bạn khắc phục được tình trạng này
                                thì&#8230;
                            </div>
                        </div>
                        <div>
                            <a href="https://webcaycanh.com/khong-lo-cay-chet-neu-ban-hieu-dung-ve-dat/"
                               title="Không lo cây chết nếu bạn hiểu đúng về đất"
                               class="img-hover transition">
                                <img src="https://webcaycanh.com/wp-content/uploads/2021/06/dat-350x245.jpg"
                                     class="w100 wp-post-image"
                                     alt="dat"
                                     loading="lazy" />
                            </a>
                            <a href="https://webcaycanh.com/khong-lo-cay-chet-neu-ban-hieu-dung-ve-dat/"
                               title="Không lo cây chết nếu bạn hiểu đúng về đất"
                               class="">
                                <h3 class="
                        font18
                        tit-border-b2
                        relative
                        cl_xanh6
                        mb-3
                        mt-3
                        pb-2
                      "
                                    style="/*height: 25px; overflow: hidden;*/">
                                    Không lo cây chết nếu bạn hiểu đúng về đất
                                </h3>
                            </a>
                            <div class="text-justify">
                                Đại đa phần cây văn phòng chết chỉ vì 2 nguyên nhân đó là
                                thừa nước và thiếu nước. Vì đôi khi bạn được người bán
                                nhắc&#8230;
                            </div>
                        </div>
                        <div>
                            <a href="https://webcaycanh.com/tim-hieu-loai-cay-monstera-dot-bien-co-gia-len-den-ca-ty-dong/"
                               title="Tìm hiểu loài cây Monstera đột biến có giá lên đến cả tỷ đồng"
                               class="img-hover transition">
                                <img src="https://webcaycanh.com/wp-content/uploads/2021/05/monstera-dot-bien-350x245.jpg"
                                     class="w100 wp-post-image"
                                     alt="monstera đột biến"
                                     loading="lazy" />
                            </a>
                            <a href="https://webcaycanh.com/tim-hieu-loai-cay-monstera-dot-bien-co-gia-len-den-ca-ty-dong/"
                               title="Tìm hiểu loài cây Monstera đột biến có giá lên đến cả tỷ đồng"
                               class="">
                                <h3 class="
                        font18
                        tit-border-b2
                        relative
                        cl_xanh6
                        mb-3
                        mt-3
                        pb-2
                      "
                                    style="/*height: 25px; overflow: hidden;*/">
                                    Tìm hiểu loài cây Monstera đột biến có giá lên đến cả tỷ
                                    đồng
                                </h3>
                            </a>
                            <div class="text-justify">
                                Gần đây đang rầm rộ thông tin về loài cây Monstera đột biến
                                có giá lên đến cả tỷ đồng một cây, khiến nhiều người dân
                                thắc&#8230;
                            </div>
                        </div>
                        <div>
                            <a href="https://webcaycanh.com/su-that-ve-doc-cua-cay-kim-tien/"
                               title="Sự thật về độc của cây Kim Tiền"
                               class="img-hover transition">
                                <img src="https://webcaycanh.com/wp-content/uploads/2021/01/cay-kim-tien-co-doc.jpg"
                                     class="w100 wp-post-image"
                                     alt="cay-kim-tien-co-doc"
                                     loading="lazy" />
                            </a>
                            <a href="https://webcaycanh.com/su-that-ve-doc-cua-cay-kim-tien/"
                               title="Sự thật về độc của cây Kim Tiền"
                               class="">
                                <h3 class="
                        font18
                        tit-border-b2
                        relative
                        cl_xanh6
                        mb-3
                        mt-3
                        pb-2
                      "
                                    style="/*height: 25px; overflow: hidden;*/">
                                    Sự thật về độc của cây Kim Tiền
                                </h3>
                            </a>
                            <div class="text-justify">
                                Có lẽ rất nhiều người đã nghe hoặc đọc được ở đâu đó cây Kim
                                Tiền có độc, thậm chí là rất độc, nhưng vì tác dụng&#8230;
                            </div>
                        </div>
                    </div>
                </div>

                <!-- sidebar -->
                <div class="col-sm-3" id="sidebar">
                    <div id="nav_menu-3" class="widget_nav_menu sidebar-widget mb-4">
                        <div class="sb-tit bg_xanh6 cl_white text-uppercase text-center py-3">Danh mục cây cảnh</div><ul id="menu-danh-muc-san-pham" class="menu">
                            @foreach (var item in ViewBag.categories)
                            {
                                <li class="menu-item menu-item-type-taxonomy menu-item-object-tax_cay current-cay-ancestor current-menu-parent current-cay-parent menu-item-6138"><a href="/Client/DetailCategory?id=@item.id">@item.name</a></li>
                            }

                        </ul>
                    </div><div id="custom_html-3" class="widget_text widget_custom_html sidebar-widget mb-4"><div class="sb-tit bg_xanh6 cl_white text-uppercase text-center py-3">Công Ty Web Cây Cảnh</div><div class="textwidget custom-html-widget"><a href="https://webcaycanh.com/wp-content/uploads/2019/06/cty-cay-canh.jpg"><img class="alignnone size-full wp-image-9294" src="https://webcaycanh.com/wp-content/uploads/2019/06/cty-cay-canh.jpg" alt="cty-cay-canh" /></a></div></div><div id="id_post_by_tax-2" class="Get_Post_By_Taxonomy sidebar-widget mb-4">
                        <div class="sb-tit bg_xanh6 cl_white text-uppercase text-center py-3">Cây cảnh mới nhất</div><div class="sb-in-box">
                            @foreach (var item in ViewBag.productTop8)
                            {
                                <a class="mb-4 w100" href="/Client/detail?id=@item.id" title="@item.title">
                                    <div class="col-4 no-padding float-left">
                                        <img src="~/UploadFile/productImage/@item.avatar" class="img-thumbnail w100 wp-post-image" alt="@item.title" loading="lazy" srcset="~/UploadFile/productImage/@item.avatar 83w, ~/UploadFile/productImage/@item.avatar 400w, ~/UploadFile/productImage/@item.avatar 150w, ~/UploadFile/productImage/@item.avatar 768w, ~/UploadFile/productImage/@item.avatar 255w, ~/UploadFile/productImage/@item.avatar 800w" sizes="(max-width: 83px) 100vw, 83px" />
                                    </div>
                                    <div class="col-8 no-padding pl-2 float-left">
                                        <h4 class="font14 bold" style="line-height: 22px;">@item.title</h4>
                                        <span class="price font18 text-danger w100">@item.price <ins>₫</ins></span>
                                    </div>
                                </a>
                            }


                        </div>
                    </div><div id="id_post_by_tax-3" class="Get_Post_By_Taxonomy sidebar-widget mb-4">
                        <div class="sb-tit bg_xanh6 cl_white text-uppercase text-center py-3">Cây Cảnh Ưa Thích</div><div class="sb-in-box">
                            @foreach (var item in ViewBag.productTop8)
                            {
                                <a class="mb-4 w100" href="/Client/detail?id=@item.id" title="@item.title">
                                    <div class="col-4 no-padding float-left">
                                        <img src="~/UploadFile/productImage/@item.avatar" class="img-thumbnail w100 wp-post-image" alt="cây monstera delicisosa" loading="lazy" srcset="~/UploadFile/productImage/@item.avatar 83w, ~/UploadFile/productImage/@item.avatar 400w, ~/UploadFile/productImage/@item.avatar 1024w, ~/UploadFile/productImage/@item.avatar 150w, ~/UploadFile/productImage/@item.avatar 768w, ~/UploadFile/productImage/@item.avatar 1536w, ~/UploadFile/productImage/@item.avatar 255w, ~/UploadFile/productImage/@item.avatar 1642w" sizes="(max-width: 83px) 100vw, 83px" />
                                    </div>
                                    <div class="col-8 no-padding pl-2 float-left">
                                        <h4 class="font14 bold" style="line-height: 22px;">Cây Monstera</h4>
                                        <span class="price font18 text-danger w100">310.000 <ins>₫</ins></span>
                                    </div>
                                </a>
                            }

                        </div>
                    </div>
                </div> <!-- /#sidebar -->
            </div>
        </div>
      </section>
