
@{
    ViewBag.Title = "ReturnPolicy";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<section class="detail-news">
  <div class="container">
      <div class="row">
          <div class="col-12 my-4 text-uppercase font13 cl_nau" id="breadcrumbs"><span><span><a href="https://webcaycanh.com/">Trang chủ</a> <i class="fa fa-angle-right"></i> <span class="breadcrumb_last" aria-current="page">Chính sách đổi trả hàng</span></span></span></div>
          <div class="clearfix"></div>
          <div class="col-sm-9" id="left-panel">
              <div class="w100"><h1 class="tit-h1 marb20 padb20 font30 UTMHelvetIns cl_xanh6">Chính sách đổi trả hàng</h1></div>
              <div class="content-news" id="pills-des">
                  <p style="text-align: justify;">
                      Giao hàng không đảm bảo, không đúng mong muốn quý khách yên tâm có thể trả lại cho <strong>Web Cây Cảnh</strong> để được hoàn tiền nếu đã thanh toán. Tuy nhiên nếu Quý khách hàng đặt sản phẩm nhưng không đọc kỹ kích thước, hình dáng&#8230;Dẫn đến sản phẩm không được như mong muốn Quý khách hàng vẫn có thể trả lại nhưng sẽ phải chịu hoàn toàn chi phí vận chuyển đến và trả lại.<br />
                      Mua nhầm, muốn đổi lại, chúng tôi nhận lại và đổi hàng khác đúng mong muốn Quý khách.
                  </p>
                  <p><strong>Quy định chung:</strong></p>
                  <p>Hàng đổi/trả phải còn nguyên, không bị gãy lá, gãy bông, chậu và đĩa không bị bể, nứt. Những vật phẩm trang trí chưa qua sử dụng, không bị dính keo hoặc bị khoan lỗ.</p>
                  <p><strong>Những điều lưu ý:</strong></p>
                  <p style="text-align: justify;">– Chúng tôi khuyến cáo Quý Khách Hàng phải<strong> kiểm tra tình trạng sản phẩm trước khi thanh toán </strong>để đảm bảo rằng hàng hóa được giao đúng chủng loại, số lượng, màu sắc theo đơn đặt hàng và tình trạng bên ngoài không bị tác động<em> (</em><em>không bị gãy lá, gãy bông, chậu và đĩa không bị bể, nứt</em><em>)</em><em>.</em> Nếu gặp trường hợp này, Quý khách vui lòng từ chối nhận hàng hoặc báo ngay cho bộ phận hỗ trợ khách hàng để chúng tôi có phương án xử lí kịp thời.</p>
                  <p style="text-align: justify;">– Trong trường hợp khách hàng nhận hàng và thanh toán đủ, sau đó phát hiện hàng hóa<em> bị gãy lá, gãy bông, chậu và đĩa không bị bể, nứt, thiếu hàng. Chúng tôi không chịu trách nhiệm cho sai sót trên. </em>Tốt nhất<em> </em>trả hàng ngay sau khi nhận được hàng, khi nhân viên giao nhận của <strong><a href="https://webcaycanh.com/" target="_blank">Web Cây Cảnh</a></strong> còn ở đó.</p>
                  <p style="text-align: justify;">– Trong trường hợp khách hàng nhận hàng và thanh toán đủ, sau khi kiểm lại phát hiện sai kích thướt hoặc màu chậu, sai sản phẩm xin vui lòng chụp ảnh sản phẩm gửi về hộp thư webcaycanhhot@gmail.com để được chúng tôi hỗ trợ các bước tiếp theo như đổi- trả hàng Quý khách.</p>
                  <p><strong><em>*Không áp dụng trả hàng đối với sản phẩm đã duyệt thiết kế.</em></strong></p>
                  <ol>
                      <li><strong><strong>Đổi hàng:</strong></strong></li>
                  </ol>
                  <p><strong><strong>Trường hợp được đổi:</strong></strong></p>
                  <ul>
                      <li style="text-align: justify;">Quý Khách được quyền đổi hàng khi sản phẩm bị hư hỏng do quá trình vận chuyển ( dập lá, gãy lá).</li>
                      <li style="text-align: justify;">Khách hàng được đổi sản phẩm theo yêu cầu, sai kiểu dáng, sai màu chậu, sai kích thước, nhầm sản phẩm do lỗi nhà cung cấp.</li>
                      <li style="text-align: justify;">Trường hợp cây cảnh của Web cây cảnh cung cấp cho quý khách nhưng trong thời gian một tuần mà cây có những dấu hiệu xuống cấp, bị bệnh… thì quý khách cứ yên tâm, vẫn được đổi lại.</li>
                  </ul>
                  <p><strong>Yêu cầu đối với sản phẩm đổi:</strong></p>
                  <ul>
                      <li>Đổi sản phẩm theo ý muốn khách hàng. Sản phẩm đổi phải có giá trị tương đương hoặc cao hơn giá trị hàng đã mua trước đó.</li>
                  </ul>
                  <p><strong><em>*Công ty chịu hoàn toàn chi phí cho việc đổi hàng này.</em></strong></p>
                  <ol>
                      <li value="2"><strong>Trả hàng:</strong></li>
                  </ol>
                  <p>Quý khách được quyền trả hàng ngay khi nhận hàng vì các lý do sau:</p>
                  <ul>
                      <li>Hàng không đúng chất lượng cam kết</li>
                      <li>Hàng giao nhầm kích thước, nhầm sản phẩm hoặc hư hỏng do lỗi của Công ty Web Cây Cảnh</li>
                  </ul>
                  <p><strong>Các mặt  hàng không được trả:</strong></p>
                  <ul>
                      <li>  Chúng tôi không nhận  trả các mặt hàng được tặng kèm hoặc khuyến mãi</li>
                      <li>  Chúng tôi không nhận trả các mặt hàng bạn đã trồng hay làm hư bầu.</li>
                  </ul>
                  <p><strong>Phí gửi hàng lần 2:</strong></p>
                  <p>Nếu việc đổi hàng xuất phát từ phía Khách hàng (đổi chủng loại cây khác, đổi loại khác,…): áp dụng theo bảng Phí Giao hàng.</p>
                  <p>Nếu việc đổi hàng với giá sản phẩm ít hơn hoặc nhiều hơn thì Khách hàng sẽ được trả tiền lại hoặc phải bù thêm tiền.</p>
                  <p>Nếu việc đổi hàng do lỗi của Web Cây Cảnh: miễn phí gửi hàng lần 2</p>
                  <p><strong>Lưu ý:</strong></p>
                  <p style="text-align: justify;">Các trường hợp gửi trả phát sinh từ Quý Khách hàng khi đặt hàng sẽ không được hoàn trả lại bất cứ chi phí nào..</p>
                  <p style="text-align: justify;">Sau khi xác nhận sản phẩm gửi trả đã nhập kho, chúng tôi sẽ tiến hành hoàn tiền cho Quý Khách.</p>
                  <ol>
                      <li value="3"><strong>Hướng dẫn Hủy đơn đặt hàng:</strong></li>
                  </ol>
                  <p>Quý Khách có thể hủy đơn đặt hàng khi hàng vẫn còn trong trạng thái “Sản phẩm đang được chuẩn bị” hoặc liên hệ sớm nhất với hotline bán hàng <strong>09888.33.653</strong> để được hỗ trợ.</p>
                  <p>Hoàn tiền tùy theo phương thức thanh toán khi hủy đơn đặt hàng:</p>
                  <p>Thanh toán bằng cách chuyển khoản: tất cả đều được hoàn lại bằng hình thức chuyển khoản.</p>
              </div>
          </div>
          <!-- sidebar -->
          <div class="col-sm-3" id="sidebar">
              <div id="nav_menu-3" class="widget_nav_menu sidebar-widget mb-4">
                  <div class="sb-tit bg_xanh6 cl_white text-uppercase text-center py-3">Danh mục cây cảnh</div><ul id="menu-danh-muc-san-pham" class="menu">
                      @foreach (var item in ViewBag.categories)
                      {
                          <li class="menu-item menu-item-type-taxonomy menu-item-object-tax_cay current-cay-ancestor current-menu-parent current-cay-parent menu-item-6138"><a href="/Client/DetailCategory?id=@item.id">@item.name</a></li>
                      }

                  </ul>
              </div><div id="custom_html-3" class="widget_text widget_custom_html sidebar-widget mb-4"><div class="sb-tit bg_xanh6 cl_white text-uppercase text-center py-3">Công Ty Web Cây Cảnh</div><div class="textwidget custom-html-widget"><a href="https://webcaycanh.com/wp-content/uploads/2019/06/cty-cay-canh.jpg"><img class="alignnone size-full wp-image-9294" src="https://webcaycanh.com/wp-content/uploads/2019/06/cty-cay-canh.jpg" alt="cty-cay-canh" /></a></div></div><div id="id_post_by_tax-2" class="Get_Post_By_Taxonomy sidebar-widget mb-4">
                  <div class="sb-tit bg_xanh6 cl_white text-uppercase text-center py-3">Cây cảnh mới nhất</div><div class="sb-in-box">
                      @foreach (var item in ViewBag.productTop8)
                      {
                          <a class="mb-4 w100" href="/Client/detail?id=@item.id" title="@item.title">
                              <div class="col-4 no-padding float-left">
                                  <img src="~/UploadFile/productImage/@item.avatar" class="img-thumbnail w100 wp-post-image" alt="@item.title" loading="lazy" srcset="~/UploadFile/productImage/@item.avatar 83w, ~/UploadFile/productImage/@item.avatar 400w, ~/UploadFile/productImage/@item.avatar 150w, ~/UploadFile/productImage/@item.avatar 768w, ~/UploadFile/productImage/@item.avatar 255w, ~/UploadFile/productImage/@item.avatar 800w" sizes="(max-width: 83px) 100vw, 83px" />
                              </div>
                              <div class="col-8 no-padding pl-2 float-left">
                                  <h4 class="font14 bold" style="line-height: 22px;">@item.title</h4>
                                  <span class="price font18 text-danger w100">@item.price <ins>₫</ins></span>
                              </div>
                          </a>
                      }


                  </div>
              </div><div id="id_post_by_tax-3" class="Get_Post_By_Taxonomy sidebar-widget mb-4">
                  <div class="sb-tit bg_xanh6 cl_white text-uppercase text-center py-3">Cây Cảnh Ưa Thích</div><div class="sb-in-box">
                      @foreach (var item in ViewBag.productTop8)
                      {
                          <a class="mb-4 w100" href="/Client/detail?id=@item.id" title="@item.title">
                              <div class="col-4 no-padding float-left">
                                  <img src="~/UploadFile/productImage/@item.avatar" class="img-thumbnail w100 wp-post-image" alt="cây monstera delicisosa" loading="lazy" srcset="~/UploadFile/productImage/@item.avatar 83w, ~/UploadFile/productImage/@item.avatar 400w, ~/UploadFile/productImage/@item.avatar 1024w, ~/UploadFile/productImage/@item.avatar 150w, ~/UploadFile/productImage/@item.avatar 768w, ~/UploadFile/productImage/@item.avatar 1536w, ~/UploadFile/productImage/@item.avatar 255w, ~/UploadFile/productImage/@item.avatar 1642w" sizes="(max-width: 83px) 100vw, 83px" />
                              </div>
                              <div class="col-8 no-padding pl-2 float-left">
                                  <h4 class="font14 bold" style="line-height: 22px;">Cây Monstera</h4>
                                  <span class="price font18 text-danger w100">310.000 <ins>₫</ins></span>
                              </div>
                          </a>
                      }

                  </div>
              </div>
          </div> <!-- /#sidebar -->
      </div>
  </div>
</section>

