@model PagedList.IPagedList<group19Web.Models.tbl_product>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "SearchProduct";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<section class="">
    <div class="container">
        <div class="row">
            <div class="col-12 my-4 text-uppercase font13 cl_nau" id="breadcrumbs"><span><span><a href="https://webcaycanh.com/">Trang chủ</a> <i class="fa fa-angle-right"></i> <span class="breadcrumb_last" aria-current="page">Tìm theo @ViewBag.searchText</span></span></span></div>
            <div class="clearfix"></div>
            <div class="col-sm-9" id="left-panel">
                <div class="w100"><h1 class="tit-h1 tit-border-b3 pull-left marb20 padb20 font30 UTMHelvetIns cl_nau">@ViewBag.searchText</h1></div>
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class=" col-12 col-md-4 item-loop-tour">
                            <div class="wrap-item-loop-sp bg_white ">
                                <div class="item-loop-sp mb-4">
                                    <div class="img1 photo overhiden marb10 relative">
                                        <a href="/Client/detail?id=@item.id" title="@item.title">
                                            <img src="~/UploadFile/productImage/@item.avatar" class="w100 transition wp-post-image" alt="cây dứa cảnh nến" loading="lazy" srcset="~/UploadFile/productImage/@item.avatar 255w, ~/UploadFile/productImage/@item.avatar 150w, ~/UploadFile/productImage/@item.avatar 400w, ~/UploadFile/productImage/@item.avatar 768w, ~/UploadFile/productImage/@item.avatar 83w, ~/UploadFile/productImage/@item.avatar 900w" sizes="(max-width: 255px) 100vw, 255px" />
                                        </a>
                                        <div class="btn-cart-loop-cay d-none transition w100 text-center">
                                            <button onclick="addCart(10232)" class="btn btn-success">
                                                <i class="fa fa-shopping-cart cl_white"></i><span>CHO CÂY VÀO GIỎ</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="transition w100 wr1 text-center ">
                                        <a href="/Client/detail?id=@item.id" title="@item.title"><h3 class="clear tit-loop-sp">@item.title</h3></a>
                                        <span class="price font18 text-danger">@item.price <ins>₫</ins></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <!-- pagination -->
                    <div class="pagi_box col-12 float-right text-center">
                        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                        @Html.PagedListPager(Model, page => Url.Action("SearchProduct", new { page }))
                    </div>
                    <!-- /pagination -->
                </div>
            </div>
            <!-- sidebar -->
            <div class="col-sm-3" id="sidebar">
                <div id="nav_menu-3" class="widget_nav_menu sidebar-widget mb-4">
                    <div class="sb-tit bg_xanh6 cl_white text-uppercase text-center py-3">Danh mục cây cảnh</div><ul id="menu-danh-muc-san-pham" class="menu">
                        @foreach (var item in ViewBag.categories)
                        {
                            <li class="menu-item menu-item-type-taxonomy menu-item-object-tax_cay current-cay-ancestor current-menu-parent current-cay-parent menu-item-6138"><a href="https://webcaycanh.com/cay-canh-phong-thuy/">@item.name</a></li>
                        }

                    </ul>
                </div><div id="custom_html-3" class="widget_text widget_custom_html sidebar-widget mb-4"><div class="sb-tit bg_xanh6 cl_white text-uppercase text-center py-3">Công Ty Web Cây Cảnh</div><div class="textwidget custom-html-widget"><a href="https://webcaycanh.com/wp-content/uploads/2019/06/cty-cay-canh.jpg"><img class="alignnone size-full wp-image-9294" src="https://webcaycanh.com/wp-content/uploads/2019/06/cty-cay-canh.jpg" alt="cty-cay-canh" /></a></div></div><div id="id_post_by_tax-2" class="Get_Post_By_Taxonomy sidebar-widget mb-4">
                    <div class="sb-tit bg_xanh6 cl_white text-uppercase text-center py-3">Cây cảnh mới nhất</div><div class="sb-in-box">
                        @foreach (var item in ViewBag.productTop8)
                        {
                            <a class="mb-4 w100" href="https://webcaycanh.com/cay-mini-monstera/" title="@item.title">
                                <div class="col-4 no-padding float-left">
                                    <img src="~/UploadFile/productImage/@item.avatar" class="img-thumbnail w100 wp-post-image" alt="@item.title" loading="lazy" srcset="~/UploadFile/productImage/@item.avatar 83w, ~/UploadFile/productImage/@item.avatar 400w, ~/UploadFile/productImage/@item.avatar 150w, ~/UploadFile/productImage/@item.avatar 768w, ~/UploadFile/productImage/@item.avatar 255w, ~/UploadFile/productImage/@item.avatar 800w" sizes="(max-width: 83px) 100vw, 83px" />
                                </div>
                                <div class="col-8 no-padding pl-2 float-left">
                                    <h4 class="font14 bold" style="line-height: 22px;">@item.title</h4>
                                    <span class="price font18 text-danger w100">@item.price <ins>₫</ins></span>
                                </div>
                            </a>
                        }


                    </div>
                </div><div id="id_post_by_tax-3" class="Get_Post_By_Taxonomy sidebar-widget mb-4">
                    <div class="sb-tit bg_xanh6 cl_white text-uppercase text-center py-3">Cây Cảnh Ưa Thích</div><div class="sb-in-box">
                        @foreach (var item in ViewBag.productTop8)
                        {
                            <a class="mb-4 w100" href="https://webcaycanh.com/cay-monstera/" title="@item.title">
                                <div class="col-4 no-padding float-left">
                                    <img src="~/UploadFile/productImage/@item.avatar" class="img-thumbnail w100 wp-post-image" alt="cây monstera delicisosa" loading="lazy" srcset="~/UploadFile/productImage/@item.avatar 83w, ~/UploadFile/productImage/@item.avatar 400w, ~/UploadFile/productImage/@item.avatar 1024w, ~/UploadFile/productImage/@item.avatar 150w, ~/UploadFile/productImage/@item.avatar 768w, ~/UploadFile/productImage/@item.avatar 1536w, ~/UploadFile/productImage/@item.avatar 255w, ~/UploadFile/productImage/@item.avatar 1642w" sizes="(max-width: 83px) 100vw, 83px" />
                                </div>
                                <div class="col-8 no-padding pl-2 float-left">
                                    <h4 class="font14 bold" style="line-height: 22px;">Cây Monstera</h4>
                                    <span class="price font18 text-danger w100">310.000 <ins>₫</ins></span>
                                </div>
                            </a>
                        }

                    </div>
                </div>
            </div> <!-- /#sidebar -->
        </div>
    </div>
</section>
