
@{
    ViewBag.Title = "ShipPocicy";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<section class="detail-news">
  <div class="container">
      <div class="row">
          <div class="col-12 my-4 text-uppercase font13 cl_nau" id="breadcrumbs"><span><span><a href="https://webcaycanh.com/">Trang chủ</a> <i class="fa fa-angle-right"></i> <span class="breadcrumb_last" aria-current="page">Chính sách giao hàng</span></span></span></div>
          <div class="clearfix"></div>
          <div class="col-sm-9" id="left-panel">
              <div class="w100"><h1 class="tit-h1 marb20 padb20 font30 UTMHelvetIns cl_xanh6">Chính sách giao hàng</h1></div>
              <div class="content-news" id="pills-des">
                  <p style="text-align: justify;">
                      <strong>1. PHẠM VI ÁP DỤNG:</strong><br />
                      – Tất cả các khách hàng mua sản phẩm tại Website https://webcaycanh.com hoặc khách hàng đến trực tiếp xem và mua hàng tại công ty có nhu cầu giao hàng trực tiếp tại nhà.<br />
                      <strong>2. HÌNH THỨC ÁP DỤNG:</strong>
                  </p>
                  <p><strong>2.1. Giao hàng miễn phí :</strong></p>
                  <p style="text-align: justify;">Giao hàng miễn phí trong phạm vi các quận thuộc nội thành Hà Nội và các đại lý của Web Cây Cảnh – áp dụng cho các đơn hàng có giá trị từ <strong>1.000.000 đồng</strong>. Không áp dụng với các cá nhân mua buôn.</p>
                  <p><strong>2.2 . Giao hàng tính phí:</strong></p>
                  <p style="text-align: justify;">– Ngoài trường hợp giao hàng miễn phí trên, các trường hợp còn lại sẽ được tính phí giao hàng theo bảng phí vận chuyển của hãng vận chuyển thứ 3 hoặc theo bảng phí của công ty. Chi phí này sẽ được công ty thông báo và xác nhận với quý khách trước khi quý khách tiến hành thanh toán và công ty tiến hành gửi hàng.</p>
                  <p><strong>3. THỜI GIAN GIAO HÀNG:</strong></p>
                  <p style="text-align: justify;">– Thời gian giao hàng sẽ từ 1-5 ngày tùy thuộc vào khoảng cách vận chuyển và kích thước cây.</p>
                  <p style="text-align: justify;">– Trong một số trường hợp khách quan Công ty có thể giao hàng chậm trễ do những điều kiện bất khả kháng như thời tiết xấu, điều kiện giao thông không thuận lợi, xe hỏng hóc trên đường, trục trặc trong quá trình xuất cây cảnh khỏi kho.</p>
                  <p style="text-align: justify;">– Trong thời gian chờ đợi nhận hàng, Quý khách có bất cứ thắc mắc gì về thông tin vận chuyển xin vui lòng liên hệ hotline <strong>09888.33.653</strong> của chúng tôi để nhận trợ giúp.</p>
                  <p><strong>4. TRÁCH NHIỆM VỚI HÀNG HÓA VẬN CHUYỂN.</strong></p>
                  <p style="text-align: justify;">– Công ty sẽ chịu trách nhiệm với hàng hóa và các rủi ro như mất mát hoặc hư hại của sản phẩm trong suốt quá trình vận chuyển hàng từ kho của chúng tôi đến quý khách.</p>
                  <p style="text-align: justify;">– Quý khách có trách nhiệm kiểm tra hàng hóa khi nhận hàng. Khi phát hiện cây cảnh bị hư hại, gãy cảnh, vỡ chậu, hoặc sai loại cây thì ký xác nhận tình trạng này với Nhân viên giao nhận và thông báo ngay cho Bộ phận chăm sóc khách hàng theo số hotline bán hàn <strong>09888.33.653</strong> của Công ty.</p>
                  <p style="text-align: justify;">– Sau khi qúy khách đã ký nhận hàng mà không ghi chú hoặc có ý kiến về hàng hóa. Công ty không có trách nhiệm với những yêu cầu đổi trả từ phía quý khách sau này.</p>
                  <p style="text-align: justify;">– Nếu dịch vụ vận chuyển do quý khách chỉ định và lựa chọn thì quý khách sẽ chịu trách nhiệm với chuyến hàng và các rủi ro kèm theo, như mất mát hoặc hư hại hàng trong suốt quá trình vận chuyển hàng từ kho hàng của công ty đến quý khách. Khách hàng sẽ chịu trách nhiệm về cước phí và tổn thất liên quan.</p>
                  <p><strong>5. CÁC ĐIỀU KIỆN KHÁC</strong></p>
                  <p style="text-align: justify;">– Chính sách giao hàng miễn phí không áp dụng đối với những sản phẩm được mua trong chương trình khuyến mại giờ vàng, giá sốc…..</p>
                  <p style="text-align: justify;">– Chi phí cầu đường, phí vào thôn xã hoặc phí đỗ xe tại chung cư do khách hàng tự thanh toán.</p>
                  <p style="text-align: justify;">– Công ty chỉ giao hàng cho đúng người nhận mà Quý khách hàng đã đăng ký khi mua hàng. Trong quá trình giao hàng nếu có sự thay đổi người nhận một cách không rõ ràng, chúng tôi có quyền từ chối giao hàng và yêu cầu quý khách hàng nhận hàng tại địa điểm của bán hàng của công ty.</p>
                  <p style="text-align: justify;">– Nếu địa chỉ giao hàng không rõ ràng, nằm trong ngõ ngách, hoặc ở những nơi nguy hiểm, những vùng đồi núi hiểm trở, phương tiện giao thông đi lại khó khăn, chúng tôi có quyền từ chối vận chuyển, giao nhận hàng trực tiếp.</p>
                  <p style="text-align: justify;">– Trong các trường hợp bất khả kháng, do thiên tai, lũ lụt, hỏng hóc cầu phà …, chúng tôi không chịu trách nhiệm bồi thường thiệt hại phát sinh do giao hàng không đúng thời gian hoặc không vận chuyển hàng hóa đến địa điểm như đã thỏa thuận với khách hàng.</p>
                  <p style="text-align: justify;">– Trường hợp chúng tôi đã vận chuyển hàng đến địa điểm giao nhận như thỏa thuận lúc mua hàng, nhưng vì một lý do nào đó khách hàng yêu cầu trả lại hàng thì lúc đó khách hàng phải chịu chi phí vận chuyển theo quy định của công ty.</p>
                  <p style="text-align: justify;">– Đối với những sản phẩm nặng và cồng kềnh cần vận chuyển lên tầng mà không có thang máy đề nghị khách hàng hỗ trợ trong việc giao nhận.</p>
                  <p style="text-align: justify;">– Trong những ngày đặc biệt hoặc các ngày Lễ hội do chính sách giao thông chung bị hạn chế (cấm đường đối với một số phương tiện…) thời gian giao hàng có thể sẽ thay đổi, Chúng tôi sẽ gọi điện cho khách hàng để thống nhất thời gian giao nhận.</p>
              </div>
          </div>
          <!-- sidebar -->
          <div class="col-sm-3" id="sidebar">
              <div id="nav_menu-3" class="widget_nav_menu sidebar-widget mb-4">
                  <div class="sb-tit bg_xanh6 cl_white text-uppercase text-center py-3">Danh mục cây cảnh</div><ul id="menu-danh-muc-san-pham" class="menu">
                      @foreach (var item in ViewBag.categories)
                      {
                          <li class="menu-item menu-item-type-taxonomy menu-item-object-tax_cay current-cay-ancestor current-menu-parent current-cay-parent menu-item-6138"><a href="/Client/DetailCategory?id=@item.id">@item.name</a></li>
                      }

                  </ul>
              </div><div id="custom_html-3" class="widget_text widget_custom_html sidebar-widget mb-4"><div class="sb-tit bg_xanh6 cl_white text-uppercase text-center py-3">Công Ty Web Cây Cảnh</div><div class="textwidget custom-html-widget"><a href="https://webcaycanh.com/wp-content/uploads/2019/06/cty-cay-canh.jpg"><img class="alignnone size-full wp-image-9294" src="https://webcaycanh.com/wp-content/uploads/2019/06/cty-cay-canh.jpg" alt="cty-cay-canh" /></a></div></div><div id="id_post_by_tax-2" class="Get_Post_By_Taxonomy sidebar-widget mb-4">
                  <div class="sb-tit bg_xanh6 cl_white text-uppercase text-center py-3">Cây cảnh mới nhất</div><div class="sb-in-box">
                      @foreach (var item in ViewBag.productTop8)
                      {
                          <a class="mb-4 w100" href="/Client/detail?id=@item.id" title="@item.title">
                              <div class="col-4 no-padding float-left">
                                  <img src="~/UploadFile/productImage/@item.avatar" class="img-thumbnail w100 wp-post-image" alt="@item.title" loading="lazy" srcset="~/UploadFile/productImage/@item.avatar 83w, ~/UploadFile/productImage/@item.avatar 400w, ~/UploadFile/productImage/@item.avatar 150w, ~/UploadFile/productImage/@item.avatar 768w, ~/UploadFile/productImage/@item.avatar 255w, ~/UploadFile/productImage/@item.avatar 800w" sizes="(max-width: 83px) 100vw, 83px" />
                              </div>
                              <div class="col-8 no-padding pl-2 float-left">
                                  <h4 class="font14 bold" style="line-height: 22px;">@item.title</h4>
                                  <span class="price font18 text-danger w100">@item.price <ins>₫</ins></span>
                              </div>
                          </a>
                      }


                  </div>
              </div><div id="id_post_by_tax-3" class="Get_Post_By_Taxonomy sidebar-widget mb-4">
                  <div class="sb-tit bg_xanh6 cl_white text-uppercase text-center py-3">Cây Cảnh Ưa Thích</div><div class="sb-in-box">
                      @foreach (var item in ViewBag.productTop8)
                      {
                          <a class="mb-4 w100" href="/Client/detail?id=@item.id" title="@item.title">
                              <div class="col-4 no-padding float-left">
                                  <img src="~/UploadFile/productImage/@item.avatar" class="img-thumbnail w100 wp-post-image" alt="cây monstera delicisosa" loading="lazy" srcset="~/UploadFile/productImage/@item.avatar 83w, ~/UploadFile/productImage/@item.avatar 400w, ~/UploadFile/productImage/@item.avatar 1024w, ~/UploadFile/productImage/@item.avatar 150w, ~/UploadFile/productImage/@item.avatar 768w, ~/UploadFile/productImage/@item.avatar 1536w, ~/UploadFile/productImage/@item.avatar 255w, ~/UploadFile/productImage/@item.avatar 1642w" sizes="(max-width: 83px) 100vw, 83px" />
                              </div>
                              <div class="col-8 no-padding pl-2 float-left">
                                  <h4 class="font14 bold" style="line-height: 22px;">Cây Monstera</h4>
                                  <span class="price font18 text-danger w100">310.000 <ins>₫</ins></span>
                              </div>
                          </a>
                      }

                  </div>
              </div>
          </div> <!-- /#sidebar -->
      </div>
  </div>
</section>

