
@{
    ViewBag.Title = "StoneCare";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<section class="detail-news">



	<div class="container">



        <div class="row">



            <div class="col-12 my-4 text-uppercase font13 cl_nau" id="breadcrumbs"><span><span><a href="https://webcaycanh.com/">Trang chủ</a> <i class="fa fa-angle-right"></i> <span class="breadcrumb_last" aria-current="page">Cách chăm sóc sen đá và xương rồng</span></span></span></div>






            <div class="clearfix"></div>



            <div class="col-sm-9 a_cl_xanh" id="left-panel">



                <div class="w100"><h1 class="tit-h1 text-center marb20 padb20 font30 UTMHelvetIns cl_xanh6">Cách chăm sóc sen đá và xương rồng</h1></div>



                <div class="content-news" id="pills-des">
                    <p style="text-align: justify;">Người thích trồng cây là những người có tâm hướng thiện, một trong những câu nói mà tôi khá tâm đắc và cũng thấy nó tương đối là chính xác. Lựa chọn cho mình một hoặc nhiều <a href="https://webcaycanh.com/cay-canh-de-ban/">cây xanh để bàn</a> hoặc chăm sóc ở vườn là một quyết định đúng, nó giúp bạn có thể giải tỏa căng thẳng sau những giờ làm việc mệt mỏi. Nhưng các bạn đã biết chăm sóc đúng cách chưa? Mỗi loại cây có một cách chăm sóc khác nhau và sau đây webcaycanh.com xin hướng dẫn <strong><a href="https://webcaycanh.com/cach-cham-soc-sen-da-va-xuong-rong/">cách chăm sóc sen đá và xương rồng</a></strong>.</p>
                    <p style="text-align: justify;"><a href="https://webcaycanh.com/wp-content/uploads/2015/11/cach-cham-soc-sen-da-va-xuong-rong-1.jpg"><img loading="lazy" class="aligncenter wp-image-4597 size-medium" src="https://webcaycanh.com/wp-content/uploads/2015/11/cach-cham-soc-sen-da-va-xuong-rong-1-400x265.jpg" alt="cach-cham-soc-sen-da-va-xuong-rong" width="400" height="265" srcset="https://webcaycanh.com/wp-content/uploads/2015/11/cach-cham-soc-sen-da-va-xuong-rong-1-400x265.jpg 400w, https://webcaycanh.com/wp-content/uploads/2015/11/cach-cham-soc-sen-da-va-xuong-rong-1-300x199.jpg 300w, https://webcaycanh.com/wp-content/uploads/2015/11/cach-cham-soc-sen-da-va-xuong-rong-1.jpg 600w" sizes="(max-width: 400px) 100vw, 400px" /></a></p>
                    <div id="toc_container" class="no_bullets"><p class="toc_title">Mục Lục</p><ul class="toc_list"><li><a href="#Cach_cham_soc_sen_da"><span class="toc_number toc_depth_1">1</span> Cách chăm sóc sen đá</a><ul><li><a href="#Nuoc"><span class="toc_number toc_depth_2">1.1</span> Nước:</a><ul><li><a href="#Cach_tuoi_nuoc"><span class="toc_number toc_depth_3">1.1.1</span> Cách tưới nước:</a></li></ul></li><li><a href="#Anh_sang"><span class="toc_number toc_depth_2">1.2</span> Ánh sáng:</a></li></ul></li><li><a href="#Cach_cham_soc_xuong_rong"><span class="toc_number toc_depth_1">2</span> Cách chăm sóc xương rồng</a><ul><li><a href="#Cham_soc_xuong_rong_tung_giai_doan"><span class="toc_number toc_depth_2">2.1</span> Chăm sóc xương rồng từng giai đoạn</a></li><li><a href="#Chuc_cac_ban_luon_co_mot_cay_sen_da_va_xuong_rong_khoe_manh"><span class="toc_number toc_depth_2">2.2</span> Chúc các bạn luôn có một cây sen đá và xương rồng khỏe mạnh</a></li></ul></li></ul></div>
                    <h2><span id="Cach_cham_soc_sen_da">Cách chăm sóc sen đá</span></h2>
                    <p style="text-align: justify;">Điều thú vị và cũng là điều khó khăn chính là duy trì sự sống cho <em><strong><a href="https://webcaycanh.com/cay-canh-sen-da/">Sen Đá</a></strong></em>. Nếu bạn là người mua cây thì có 2 yếu tố mà bạn sẽ tác động đến cây làm ảnh hướng lớn đến sự sống còn của sen đá chính là nước và ánh sáng.</p>
                    <p style="text-align: justify;"><a href="https://webcaycanh.com/wp-content/uploads/2015/11/tuoi-nuoc-cho-sen-da-2.jpg"><img loading="lazy" class="aligncenter wp-image-4594 size-medium" src="https://webcaycanh.com/wp-content/uploads/2015/11/tuoi-nuoc-cho-sen-da-2-400x400.jpg" alt="tuoi-nuoc-cho-sen-da" width="400" height="400" srcset="https://webcaycanh.com/wp-content/uploads/2015/11/tuoi-nuoc-cho-sen-da-2-400x400.jpg 400w, https://webcaycanh.com/wp-content/uploads/2015/11/tuoi-nuoc-cho-sen-da-2-150x150.jpg 150w, https://webcaycanh.com/wp-content/uploads/2015/11/tuoi-nuoc-cho-sen-da-2-768x768.jpg 768w, https://webcaycanh.com/wp-content/uploads/2015/11/tuoi-nuoc-cho-sen-da-2-1024x1024.jpg 1024w, https://webcaycanh.com/wp-content/uploads/2015/11/tuoi-nuoc-cho-sen-da-2-255x255.jpg 255w, https://webcaycanh.com/wp-content/uploads/2015/11/tuoi-nuoc-cho-sen-da-2-83x83.jpg 83w, https://webcaycanh.com/wp-content/uploads/2015/11/tuoi-nuoc-cho-sen-da-2-300x300.jpg 300w" sizes="(max-width: 400px) 100vw, 400px" /></a></p>
                    <p style="text-align: center;">Tưới nước cho tiểu cảnh sen đá để trong 40s</p>
                    <h3><span id="Nuoc"><strong>Nước:</strong></span></h3>
                    <p style="text-align: justify;">Sen đá có nguồn gốc từ Mexico một trong những đất nước nắng nóng và khô hạn, do vậy những loài cây có thể sống tốt ở đây chính là những loại có thể trữ nước ở lá và thân, và sen đá là một trong những loại như vậy. Nước không quá cần thiết đối với sen đá nhưng vẫn phải đủ để nó có thể duy trì sự sống và phát triển, tuy nhiên nếu sen đá bị sống trong một trường ẩm từ 4 -5 ngày <a href="https://webcaycanh.com/cach-khac-phuc-khi-sen-da-bi-thoi-nhun/">sen đá sẽ bị thối nhũn</a> dần từ gốc và bắt đầu rụng hết lá.</p>
                    <h4 style="text-align: justify;"><span id="Cach_tuoi_nuoc"><strong>Cách tưới nước:</strong></span></h4>
                    <p style="text-align: justify;">Điều chỉnh lượng nước luôn là một vấn đề không dễ dàng với sen đá. Đối với không khí khô, thời tiết nóng vào mùa hè thì có thể 1 tuần/2 lần, còn thời tiết lạnh, ẩm, mùa đông 2 tuần/lần. Còn thường thì sẽ là 1 tuần chỉ cần tưới nước một lần. Cách tưới tốt nhất là tưới theo kiểu <strong>ngấm ngược</strong>. Ở mỗi chậu cây sẽ có một lỗ thoát nước, nhưng nó còn có tác dụng là ngấm nước. Bạn có thể đặt cây vào trong khay, bồn nước có mực nước bằng 1/3 chiều cao chậu, sau đó để khoảng 30s với chậu nhỏ và 40s đối với chậy lớn thì nhấc ra. 1 tuần bạn chỉ cần làm như vậy một lần.</p>
                    <p style="text-align: justify;"><a href="https://webcaycanh.com/wp-content/uploads/2015/11/tuoi-nuoc-cho-sen-da-1-1.jpg"><img loading="lazy" class="aligncenter wp-image-4595 size-medium" src="https://webcaycanh.com/wp-content/uploads/2015/11/tuoi-nuoc-cho-sen-da-1-1-400x300.jpg" alt="tuoi-nuoc-cho-sen-da-1" width="400" height="300" srcset="https://webcaycanh.com/wp-content/uploads/2015/11/tuoi-nuoc-cho-sen-da-1-1-400x300.jpg 400w, https://webcaycanh.com/wp-content/uploads/2015/11/tuoi-nuoc-cho-sen-da-1-1-768x576.jpg 768w, https://webcaycanh.com/wp-content/uploads/2015/11/tuoi-nuoc-cho-sen-da-1-1-1024x768.jpg 1024w, https://webcaycanh.com/wp-content/uploads/2015/11/tuoi-nuoc-cho-sen-da-1-1-300x225.jpg 300w" sizes="(max-width: 400px) 100vw, 400px" /></a></p>
                    <p style="text-align: center;">Tưới nước cho sen đá chậu nhỏ 30s</p>
                    <p style="text-align: justify;">Vì sao nó được coi là cách tối ưu nhất đối với sen đá, sen đá là loại thường có nhiều lá hoặc trên lá có phấn, nếu bạn tưới trực tiếp lên cây thì có thể nước sẽ bị đọng ở trên lá không thoát ra được dẫn đến thì trạng lá bị thối, ngoài ra nếu bạn dội nước mạnh những loài cây có phấn sẽ bị mất đi lớp phấn ở ngoài lá khiến nó không còn đẹp. Nếu điều kiện không cho phép hoặc bạn không thể tưới theo kiểu đó thì hãy cố gắng tưới nước càng gần mép chậu càng tốt.</p>
                    <p style="text-align: justify;">Còn một trong những cách nữa mà dành cho người đã trồng lâu lắm, đó là nhìn lá mà tưới nước, xương rồng sen đá rất ít khi chết vì thiếu nước, có những loại bạn để cả tháng không cần tưới cũng không sao, khi lá đủ nước sẽ cứng và căng mọng, khi thiếu nước nó sẽ nhăn nheo và mềm bạn có thể  dựa và đặc tính đó để tưới cho cây. Tối đa cũng chỉ 2 lần trên tuần.</p>
                    <h3><span id="Anh_sang">Ánh sáng:</span></h3>
                    <p style="text-align: justify;">Ánh sáng là phần cần thiết nhất đối với loài sen đá. Nên bạn hãy để nó  ở nơi có nhiều ánh nắng, nhất là ánh sáng buổi sớm và chiều tối, ánh sáng tốt nhất là bạn để cây ngoài trời có mái, lưới che đi khoảng 30%.</p>
                    <p style="text-align: justify;"><a href="https://webcaycanh.com/wp-content/uploads/2015/11/tam-nang-cho-sen-da-1.jpg"><img loading="lazy" class="aligncenter wp-image-4598 size-medium" src="https://webcaycanh.com/wp-content/uploads/2015/11/tam-nang-cho-sen-da-1-400x400.jpg" alt="tam-nang-cho-sen-da" width="400" height="400" srcset="https://webcaycanh.com/wp-content/uploads/2015/11/tam-nang-cho-sen-da-1-400x400.jpg 400w, https://webcaycanh.com/wp-content/uploads/2015/11/tam-nang-cho-sen-da-1-150x150.jpg 150w, https://webcaycanh.com/wp-content/uploads/2015/11/tam-nang-cho-sen-da-1-255x255.jpg 255w, https://webcaycanh.com/wp-content/uploads/2015/11/tam-nang-cho-sen-da-1-83x83.jpg 83w, https://webcaycanh.com/wp-content/uploads/2015/11/tam-nang-cho-sen-da-1-300x300.jpg 300w, https://webcaycanh.com/wp-content/uploads/2015/11/tam-nang-cho-sen-da-1.jpg 600w" sizes="(max-width: 400px) 100vw, 400px" /></a></p>
                    <p style="text-align: center;">Tắm nắng cho sen đá</p>
                    <p style="text-align: justify;">Nếu là cây bạn để trong văn phòng không có ánh sáng thì 2 -3 ngày hãy mang nó ra nắng 1 lần 8h.</p>
                    <p style="text-align: justify;">Cách tối ưu nếu bạn để cây trong nhà thì sáng bạn đi làm bạn bê cây ra ngoài bancol, nơi thoáng gió, khi nào bạn đi làm về thì lại bê vào nhà. Nếu bạn để cây trong văn phòng thì khi nào về bạn bê cây ra ngoài bancol thoáng gió, sáng mai đi làm về bạn lại mang cây vào. Nếu muốn cây Sen Đá đẹp thì hãy đảm bảo 6h dưới nắng.</p>
                    <p style="text-align: justify;">Chú ý: Nắng rất cần thiết những không có nghĩa là cứ càng nắng càng tốt, nếu bạn đã có con nhỏ thì bạn sẽ biết, ánh nắng rất tốt cho bé và bé cần tắm nắng nhưng không phải là 12h trưa cho bé ra ngoài trời nắng mà phải là ánh nắng nhẹ buổi sáng. Đối với <strong>sen đá</strong> cũng thế cần nắng không có nghĩa là phơi cây và trưa nắng gắt, điều này khiến sen đá sẽ bị héo lá và mất nước, hãy che nắng cho cây vào những lúc nắng gắt.</p>
                    <h2 style="text-align: justify;"><span id="Cach_cham_soc_xuong_rong">Cách chăm sóc xương rồng</span></h2>
                    <p style="text-align: justify;">Về cơ bản thì cách chăm sóc xương rồng cũng giống sen đá nên bạn hoàn toàn có thể áp dụng chế độ chăm sóc sen đá đối với xương rồng ngoài ra thì có thể bổ sung thêm phần dinh dưỡng cho đất để xương rồng phát triển tốt hơn và ra hoa.</p>
                    <h3 style="text-align: justify;"><span id="Cham_soc_xuong_rong_tung_giai_doan">Chăm sóc xương rồng từng giai đoạn</span></h3>
                    <p style="text-align: justify;">Cây <a href="https://webcaycanh.com/xuong-rong-canh/">xương rồng</a> và cây mọng nước có nguồn gốc từ những vùng khô cằn, nghèo dinh dưỡng nhưng để có một cây xương rồng hoặc cây mọng nước khoẻ đẹp và phát triển tốt, cây cũng cần cung cấp dinh dưỡng.</p>
                    <p style="text-align: justify;">Trong mùa phát triển, cây xương rồng và cây mọng nước đều cần chất đạm (N) để giúp sự tăng trưởng thân, chất potassium (P) cho sự phát triển của hoa và trái và chất phosphorus (P) cho sự phát triển bộ rễ. Ngoài ra, cây cũng cần một số chất vi lượng khác.</p>
                    <p style="text-align: justify;">Công thức NPK tổng quát cho cây xương rồng là 15 &#8211; 15 &#8211; 30.</p>
                    <p style="text-align: justify;">Trong thực tế, ta nên bón phân theo thời kỳ sinh trưởng của cây như sau:</p>
                    <p style="text-align: justify;">Thời kỳ sinh trưởng: Công thức phân bón N &#8211; P2O5 &#8211; K2O</p>
                    <p style="text-align: justify;">Thời kỳ cây con: 16 &#8211; 16 &#8211; 8 hoặc 20 &#8211; 20 &#8211; 0</p>
                    <p style="text-align: justify;">Thời kỳ tăng trưởng: 18 &#8211; 19 &#8211; 30 hoặc 20 &#8211; 30 &#8211; 20</p>
                    <p style="text-align: justify;">Kích thích ra hoa:10 &#8211; 60 &#8211; 10</p>
                    <p style="text-align: justify;">Thời kỳ ra hoa: 6 &#8211; 30 &#8211; 30</p>
                    <p style="text-align: justify;">Hiện nay, trên thị trường có nhiều bình phân bón pha sẵn cho người trồng xương rồng, trong đó có công thức và hướng dẫn cách pha tưới. Liều lượng pha tưới thường vào khoảng 1 &#8211; 1.5 g/lít nước.</p>
                    <p style="text-align: justify;">Và cách chăm sóc từng giai đoạn này bạn cũng có thể áp dụng cho sen đá.</p>
                    <p style="text-align: justify;"><strong>Chú ý: </strong></p>
                    <p style="text-align: justify;">&#8211; Không tưới nước lúc trời nắng nóng</p>
                    <p style="text-align: justify;">&#8211; Không để cây dưới mưa</p>
                    <p style="text-align: justify;">&#8211; Để nơi tránh tầm với của trẻ nhỏ</p>
                    <p style="text-align: justify;">&#8211; Sen đá và xương rồng cần rất ít nước, bạn hãy nhớ điều đấy, đừng để nó ẩm đất quá lâu</p>
                    <p style="text-align: justify;">&#8211; Một số loại <strong>cây sen đá</strong> có màu đỏ, viền hồng, cây dạng đài sen thấp như: Sen đá đất, thái, viền hồng, hồng phấn, sen hồng&#8230;Thì 2 &#8211; 3 ngày nếu bạn để trong văn phòng thì mang nó ra ngoài chỗ thoáng mát và có ánh nắng nhẹ buổi sáng, tránh nắng gắt buổi trưa để cây luôn đẹp nhé!</p>
                    <p style="text-align: justify;">Nước quyết định sự sống và ánh nắng quyết định sắc đẹp của sen đá và xương rồng.</p>
                    <p style="text-align: justify;">Vào trời mùa hè nắng gắt các bạn nhớ không để cây dưới ánh nắng, mình có thể dùng lưới đen che đi 30% ánh sáng hoặc đem cây vào chỗ mát có ánh nắng nhẹ.</p>
                    <h3 style="text-align: justify;"><span id="Chuc_cac_ban_luon_co_mot_cay_sen_da_va_xuong_rong_khoe_manh">Chúc các bạn luôn có một cây sen đá và xương rồng khỏe mạnh</span></h3>
                </div>



                <div class="clearfix">	</div>







                <div class=" d-flex mt-2">
                    <div class="fb-like" data-href="http://webcaycanh.com/cach-cham-soc-sen-da-va-xuong-rong/" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="true"></div>
                </div>

                <div class="tit-box cl_xanh6 text-center mt-3">



                    Bài viết liên quan



                </div>



                <div class=" owl-carousel owl-theme owl-2-items">



                    <div>
                        <a href="https://webcaycanh.com/cac-loai-cay-nguyen-lieu-pho-bien-hien-nay/" title="Các loại cây nguyên liệu phổ biến hiện nay" class="img-hover transition">
                            <img src="https://webcaycanh.com/wp-content/uploads/2021/08/cay-bach-xu-350x245.jpg" class="w100 wp-post-image" alt="cây bách xù" loading="lazy" />
                        </a>
                        <a href="https://webcaycanh.com/cac-loai-cay-nguyen-lieu-pho-bien-hien-nay/" title="Các loại cây nguyên liệu phổ biến hiện nay" class=""><h3 class="font18 tit-border-b2 relative cl_xanh6 mb-3 mt-3 pb-2 " style="/*height: 25px; overflow: hidden;*/">Các loại cây nguyên liệu phổ biến hiện nay</h3></a>
                        <div class="text-justify">
                            Nông nghiệp Việt Nam ngày càng phát triển là nơi cung cấp nguyên liệu lớn cho thị trường trong nước lẫn nước ngoài. Chính vì thế, hôm&#8230;
                        </div>
                    </div><div>
                        <a href="https://webcaycanh.com/hoa-cay-kim-tien-nhu-the-nao-cay-ra-hoa-co-y-nghia-gi/" title="Hoa Cây Kim Tiền như thế nào? Cây ra hoa có ý nghĩa gì?" class="img-hover transition">
                            <img src="https://webcaycanh.com/wp-content/uploads/2018/08/hoa-cay-kim-tien-350x245.jpg" class="w100 wp-post-image" alt="Hoa cây kim tiền" loading="lazy" />
                        </a>
                        <a href="https://webcaycanh.com/hoa-cay-kim-tien-nhu-the-nao-cay-ra-hoa-co-y-nghia-gi/" title="Hoa Cây Kim Tiền như thế nào? Cây ra hoa có ý nghĩa gì?" class=""><h3 class="font18 tit-border-b2 relative cl_xanh6 mb-3 mt-3 pb-2 " style="/*height: 25px; overflow: hidden;*/">Hoa Cây Kim Tiền như thế nào? Cây ra hoa có ý nghĩa gì?</h3></a>
                        <div class="text-justify">
                            Cây Kim Tiền là một trong những cây phong thuỷ được ưa chuộng và tìm kiếm nhiều nhất hiện nay, nên có nhiều thắc mắc xung quanh&#8230;
                        </div>
                    </div><div>
                        <a href="https://webcaycanh.com/cay-kim-ngan-bi-thoi-than/" title="Cây Kim Ngân bị thối thân" class="img-hover transition">
                            <img src="https://webcaycanh.com/wp-content/uploads/2021/08/cay-kim-ngan-bi-heo-vang-la-350x245.jpg" class="w100 wp-post-image" alt="" loading="lazy" />
                        </a>
                        <a href="https://webcaycanh.com/cay-kim-ngan-bi-thoi-than/" title="Cây Kim Ngân bị thối thân" class=""><h3 class="font18 tit-border-b2 relative cl_xanh6 mb-3 mt-3 pb-2 " style="/*height: 25px; overflow: hidden;*/">Cây Kim Ngân bị thối thân</h3></a>
                        <div class="text-justify">
                            Một trong những bệnh hay gặp nhất ở cây Kim Ngân đó chính là bệnh thối thân, và nếu bạn khắc phục được tình trạng này thì&#8230;
                        </div>
                    </div><div>
                        <a href="https://webcaycanh.com/khong-lo-cay-chet-neu-ban-hieu-dung-ve-dat/" title="Không lo cây chết nếu bạn hiểu đúng về đất" class="img-hover transition">
                            <img src="https://webcaycanh.com/wp-content/uploads/2021/06/dat-350x245.jpg" class="w100 wp-post-image" alt="dat" loading="lazy" />
                        </a>
                        <a href="https://webcaycanh.com/khong-lo-cay-chet-neu-ban-hieu-dung-ve-dat/" title="Không lo cây chết nếu bạn hiểu đúng về đất" class=""><h3 class="font18 tit-border-b2 relative cl_xanh6 mb-3 mt-3 pb-2 " style="/*height: 25px; overflow: hidden;*/">Không lo cây chết nếu bạn hiểu đúng về đất</h3></a>
                        <div class="text-justify">
                            Đại đa phần cây văn phòng chết chỉ vì 2 nguyên nhân đó là thừa nước và thiếu nước. Vì đôi khi bạn được người bán nhắc&#8230;
                        </div>
                    </div><div>
                        <a href="https://webcaycanh.com/tim-hieu-loai-cay-monstera-dot-bien-co-gia-len-den-ca-ty-dong/" title="Tìm hiểu loài cây Monstera đột biến có giá lên đến cả tỷ đồng" class="img-hover transition">
                            <img src="https://webcaycanh.com/wp-content/uploads/2021/05/monstera-dot-bien-350x245.jpg" class="w100 wp-post-image" alt="monstera đột biến" loading="lazy" />
                        </a>
                        <a href="https://webcaycanh.com/tim-hieu-loai-cay-monstera-dot-bien-co-gia-len-den-ca-ty-dong/" title="Tìm hiểu loài cây Monstera đột biến có giá lên đến cả tỷ đồng" class=""><h3 class="font18 tit-border-b2 relative cl_xanh6 mb-3 mt-3 pb-2 " style="/*height: 25px; overflow: hidden;*/">Tìm hiểu loài cây Monstera đột biến có giá lên đến cả tỷ đồng</h3></a>
                        <div class="text-justify">
                            Gần đây đang rầm rộ thông tin về loài cây Monstera đột biến có giá lên đến cả tỷ đồng một cây, khiến nhiều người dân thắc&#8230;
                        </div>
                    </div><div>
                        <a href="https://webcaycanh.com/su-that-ve-doc-cua-cay-kim-tien/" title="Sự thật về độc của cây Kim Tiền" class="img-hover transition">
                            <img src="https://webcaycanh.com/wp-content/uploads/2021/01/cay-kim-tien-co-doc.jpg" class="w100 wp-post-image" alt="cay-kim-tien-co-doc" loading="lazy" />
                        </a>
                        <a href="https://webcaycanh.com/su-that-ve-doc-cua-cay-kim-tien/" title="Sự thật về độc của cây Kim Tiền" class=""><h3 class="font18 tit-border-b2 relative cl_xanh6 mb-3 mt-3 pb-2 " style="/*height: 25px; overflow: hidden;*/">Sự thật về độc của cây Kim Tiền</h3></a>
                        <div class="text-justify">
                            Có lẽ rất nhiều người đã nghe hoặc đọc được ở đâu đó cây Kim Tiền có độc, thậm chí là rất độc, nhưng vì tác dụng&#8230;
                        </div>
                    </div>


                </div>





            </div>



            <!-- sidebar -->
            <div class="col-sm-3" id="sidebar">
                <div id="nav_menu-3" class="widget_nav_menu sidebar-widget mb-4">
                    <div class="sb-tit bg_xanh6 cl_white text-uppercase text-center py-3">Danh mục cây cảnh</div><ul id="menu-danh-muc-san-pham" class="menu">
                        @foreach (var item in ViewBag.categories)
                        {
                            <li class="menu-item menu-item-type-taxonomy menu-item-object-tax_cay current-cay-ancestor current-menu-parent current-cay-parent menu-item-6138"><a href="/Client/DetailCategory?id=@item.id">@item.name</a></li>
                        }

                    </ul>
                </div><div id="custom_html-3" class="widget_text widget_custom_html sidebar-widget mb-4"><div class="sb-tit bg_xanh6 cl_white text-uppercase text-center py-3">Công Ty Web Cây Cảnh</div><div class="textwidget custom-html-widget"><a href="https://webcaycanh.com/wp-content/uploads/2019/06/cty-cay-canh.jpg"><img class="alignnone size-full wp-image-9294" src="https://webcaycanh.com/wp-content/uploads/2019/06/cty-cay-canh.jpg" alt="cty-cay-canh" /></a></div></div><div id="id_post_by_tax-2" class="Get_Post_By_Taxonomy sidebar-widget mb-4">
                    <div class="sb-tit bg_xanh6 cl_white text-uppercase text-center py-3">Cây cảnh mới nhất</div><div class="sb-in-box">
                        @foreach (var item in ViewBag.productTop8)
                        {
                            <a class="mb-4 w100" href="/Client/detail?id=@item.id" title="@item.title">
                                <div class="col-4 no-padding float-left">
                                    <img src="~/UploadFile/productImage/@item.avatar" class="img-thumbnail w100 wp-post-image" alt="@item.title" loading="lazy" srcset="~/UploadFile/productImage/@item.avatar 83w, ~/UploadFile/productImage/@item.avatar 400w, ~/UploadFile/productImage/@item.avatar 150w, ~/UploadFile/productImage/@item.avatar 768w, ~/UploadFile/productImage/@item.avatar 255w, ~/UploadFile/productImage/@item.avatar 800w" sizes="(max-width: 83px) 100vw, 83px" />
                                </div>
                                <div class="col-8 no-padding pl-2 float-left">
                                    <h4 class="font14 bold" style="line-height: 22px;">@item.title</h4>
                                    <span class="price font18 text-danger w100">@item.price <ins>₫</ins></span>
                                </div>
                            </a>
                        }


                    </div>
                </div><div id="id_post_by_tax-3" class="Get_Post_By_Taxonomy sidebar-widget mb-4">
                    <div class="sb-tit bg_xanh6 cl_white text-uppercase text-center py-3">Cây Cảnh Ưa Thích</div><div class="sb-in-box">
                        @foreach (var item in ViewBag.productTop8)
                        {
                            <a class="mb-4 w100" href="/Client/detail?id=@item.id" title="@item.title">
                                <div class="col-4 no-padding float-left">
                                    <img src="~/UploadFile/productImage/@item.avatar" class="img-thumbnail w100 wp-post-image" alt="cây monstera delicisosa" loading="lazy" srcset="~/UploadFile/productImage/@item.avatar 83w, ~/UploadFile/productImage/@item.avatar 400w, ~/UploadFile/productImage/@item.avatar 1024w, ~/UploadFile/productImage/@item.avatar 150w, ~/UploadFile/productImage/@item.avatar 768w, ~/UploadFile/productImage/@item.avatar 1536w, ~/UploadFile/productImage/@item.avatar 255w, ~/UploadFile/productImage/@item.avatar 1642w" sizes="(max-width: 83px) 100vw, 83px" />
                                </div>
                                <div class="col-8 no-padding pl-2 float-left">
                                    <h4 class="font14 bold" style="line-height: 22px;">Cây Monstera</h4>
                                    <span class="price font18 text-danger w100">310.000 <ins>₫</ins></span>
                                </div>
                            </a>
                        }

                    </div>
                </div>
            </div> <!-- /#sidebar -->


        </div>



	</div>



</section>

